/*Activity Wall Width Adjustment*/
#gen-1-template-home-page-1 #activity-wall {
  width: 600px !important;
}

/*Multi-Image Banner*/
#gen-1-template-home-page-1 .feature-image-banner img {
  margin-right: 6px;
}

#gen-1-template-home-page-1 .feature-image-banner img:last-child {
  margin-right: 0;
}

/*Right Rail*/
#gen-1-template-home-page-1 .home-template-aside {
  display: block;
  float: right;
  width: 260px;
  background-color: #EEE;
  padding: 10px 20px 20px;
  margin: 0 0 10px 7px;
}

#gen-1-template-home-page-1 .home-template-aside h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 14px;
}

#gen-1-template-home-page-1 .home-template-aside .social {
  list-style: none;
  display: inline;
}

#gen-1-template-home-page-1 .home-template-aside .social a li {
  background: transparent url("http://svite-league-apps-content.s3.amazonaws.com/templates/site-template-social-icons.png") 0 0 no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  text-indent: -9999px;
}

#gen-1-template-home-page-1 .home-template-aside .social a li.facebook {
  background-position: 0 -33px;
}

#gen-1-template-home-page-1 .home-template-aside .social a li.youtube {
  background-position: 0 -66px;
}

#gen-1-template-home-page-1 .home-template-aside .social a li.flickr {
  background-position: 0 -99px;
}

/*CTA Button Styles*/
#gen-1-template-home-page-1 .btn.large-cta {
  padding: 5px 45px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/*Activity Wall Width Adjustment*/
#gen-1-template-home-page-2 #activity-wall {
  width: 440px !important;
}

/*Main Image Banner*/
#gen-1-template-home-page-2 .feature-image-banner img {
  margin: 0;
}

/*Right Rail*/
#gen-1-template-home-page-2 .home-template-aside {
  display: block;
  float: right;
  width: 450px;
  padding: 0 0 0 20px;
  margin: 0 0 10px 7px;
}

#gen-1-template-home-page-2 .home-template-aside .call-out {
  background-color: #EEE;
  margin: 0 0 15px 0;
  padding: 5px 15px;
}

#gen-1-template-home-page-2 .home-template-aside .call-out h4 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: inline;
}

#gen-1-template-home-page-2 .home-template-aside .call-out h3 {
  margin-bottom: 3px;
}

#gen-1-template-home-page-2 .home-template-aside .call-out p.cta {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #CCC;
}

#gen-1-template-home-page-2 .home-template-aside .col-left {
  width: 65%;
  float: left;
  margin-right: 5px;
}

#gen-1-template-home-page-2 .home-template-aside h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 14px;
}

#gen-1-template-home-page-2 .home-template-aside .social {
  list-style: none;
  display: inline;
}

#gen-1-template-home-page-2 .home-template-aside .social a li {
  background: transparent url("http://svite-league-apps-content.s3.amazonaws.com/templates/site-template-social-icons.png") 0 0 no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  text-indent: -9999px;
}

#gen-1-template-home-page-2 .home-template-aside .social a li.facebook {
  background-position: 0 -33px;
}

#gen-1-template-home-page-2 .home-template-aside .social a li.youtube {
  background-position: 0 -66px;
}

#gen-1-template-home-page-2 .home-template-aside .social a li.flickr {
  background-position: 0 -99px;
}

/*CTA Button Styles*/
#gen-1-template-home-page-2 .btn.large-cta {
  padding: 5px 45px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/*Main Feature Content*/
#gen-1-template-home-page-3 .feature-content {
  margin: 0;
  padding: 10px;
  background-color: #EEE;
  border: 1px solid #dfdfdf;
  float: left;
  width: 898px;
}

#gen-1-template-home-page-3 .feature-image-banner {
  margin: 0 15px 0 0;
  float: left;
  max-width: 500px;
  overflow: hidden;
}

#gen-1-template-home-page-3 .feature-content .call-out {
  margin: 0;
  padding: 0;
}

/*Row - Triple Column*/
#gen-1-template-home-page-3 .row {
  margin: 20px 0 10px 0;
  float: left;
}

#gen-1-template-home-page-3 .row .generic {
  width: 285px;
  float: left;
  margin-left: 25px;
}

#gen-1-template-home-page-3 .row .generic:first-child {
  margin-left: 0;
}

#gen-1-template-home-page-3 .social {
  list-style: none;
  display: inline;
}

#gen-1-template-home-page-3 .social a li {
  background: transparent url("http://svite-league-apps-content.s3.amazonaws.com/templates/site-template-social-icons.png") 0 0 no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  text-indent: -9999px;
}

#gen-1-template-home-page-3 .social a li.facebook {
  background-position: 0 -33px;
}

#gen-1-template-home-page-3 .social a li.youtube {
  background-position: 0 -66px;
}

#gen-1-template-home-page-3 .social a li.flickr {
  background-position: 0 -99px;
}

/*Newsletter Address Input Width*/
#gen-1-template-home-page-3 .row .basic-form li input[type="text"] {
  width: 95%;
}

/*CTA Button Styles*/
#gen-1-template-home-page-3 .btn.large-cta {
  padding: 5px 45px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

/*Activity Wall Width Adjustment*/
#gen-1-template-home-page-4 #activity-wall {
  width: 600px !important;
}

/*Multi-Image Banner*/
#gen-1-template-home-page-4 .feature-image-banner img {
  margin-right: 6px;
}

#gen-1-template-home-page-4 .feature-image-banner img:last-child {
  margin-right: 0;
}

/*Right Rail*/
#gen-1-template-home-page-4 .home-template-aside {
  display: block;
  float: right;
  width: 260px;
  background-color: #EEE;
  padding: 10px 20px 20px;
  margin: 0 0 10px 7px;
}

#gen-1-template-home-page-4 .home-template-aside h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 14px;
}

#gen-1-template-home-page-4 .home-template-aside .social {
  list-style: none;
  display: inline;
}

#gen-1-template-home-page-4 .home-template-aside .social a li {
  background: transparent url("http://svite-league-apps-content.s3.amazonaws.com/templates/site-template-social-icons.png") 0 0 no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 0;
  text-indent: -9999px;
}

#gen-1-template-home-page-4 .home-template-aside .social a li.facebook {
  background-position: 0 -33px;
}

#gen-1-template-home-page-4 .home-template-aside .social a li.youtube {
  background-position: 0 -66px;
}

#gen-1-template-home-page-4 .home-template-aside .social a li.flickr {
  background-position: 0 -99px;
}

/*CTA Button Styles*/
#gen-1-template-home-page-4 .btn.large-cta {
  padding: 5px 45px;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}


/* CUSTOM */

body, html {
    color: #000000;
}
body {
    padding-top: 120px;
}
.la--header {
    margin: 0;
    max-width: 100%;
    padding: 14px 80px 0;
    height: 120px;
    background: #ffffff;
    z-index: 90;
    position: fixed;
    top: 0;
}
.la__logo {
    display: none;
}
.la--nav__account a {
    color: #000000;
}
.logo img {
    width: 102px;
    height: 89px;
    margin-top: 0;
}
.la--nav__account,
.la_global__header,
.la--nav__account {
    background-color: transparent !important;
}

@font-face {
    font-family: 'Open Sans';
    src: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans.eot');
    src: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans.woff2') format('woff2'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans.woff') format('woff'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans.ttf') format('truetype'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Bold.eot');
    src: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Bold.ttf') format('truetype'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Semibold.eot');
    src: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Semibold.woff') format('woff'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

.la--nav__account {
    padding: 18px 80px 0 0;
}
.la--nav__account p {
    padding: 0;
    color: #000000;
}
.la--nav__account a {
    display: inline;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Open Sans';
}
.la--nav__account a + a,
.la--nav__account span + a {
    margin-left: 30px;
}
.la--nav__account p span.dot {
    display: none;
}

.general-nav {
    float: right;
    display: block;
    text-align: right;
    width: 600px;
    clear: both;
    padding-top: 62px;
}
.general-nav li {
    display: inline;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Open Sans Bold';
    text-transform: uppercase;
}
.general-nav li a {
    color: #000;
}
.general-nav li + li {
    margin-left: 41px;
}
.general-nav li.brackets {
    position: relative;
}
.general-nav li.brackets:after,
.general-nav li.brackets:before {
    content: " ";
    width: 12px;
    height: 30px;
    background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/bracket.svg');
    background-size: contain;
    position: absolute;
    left: -15px;
    top: -5px;
}
.general-nav li.brackets:after {
    background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/bracket.svg');
    transform: rotate(180deg);

    left: auto;
    right: -11px;
}
.la_global__header {
    min-width: 0;
}

#footer {
    display: none;
}
footer a {
    color: #000000;
}

footer {
    position: relative;
    padding: 43px 100px 0;
    width:100%;
    height: 232px;
    font-family: 'Open Sans Semibold';
    border-top: 1px solid #C5C5C5;
}
footer .footer-extra {
    font-family: 'Open Sans';
}
footer .footer-cols {
    overflow: hidden;
}
footer .footer-col2,
footer .footer-col1 {
    line-height: 24px;
    font-size: 14px;
    float: left;
    width: 145px;
}
footer .footer-col2 li a,
footer .footer-col1 li a{
    line-height: 24px;
    font-size: 14px;
}
footer .footer-col2 li,
footer .footer-col1 li {
    margin-left: 0;
}
footer .footer-middle {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}
footer .footer-middle:after,
footer .footer-middle:before {
    content: " ";
    width: 26px;
    height: 56px;
    background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/bracket_m.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -33px;
    top: -12px;
}
footer .footer-middle:after {
    transform: rotate(180deg);

    left: auto;
    right: -32px;
}
footer .footer-extra {
    width: 100%;
    clear: both;
    color: #7A7A7A;
    font-size: 12px;
    line-height: 14px;
    margin-top: 40px;
    overflow: hidden;
}
footer .footer-extra p a {
    color: #7A7A7A;
}
footer .footer-extra p {
    float: left;
    display: inline-block;
}
footer .footer-extra p:last-child {
    float: right;
    text-align: right;
}
footer .footer-extra p:last-child a + a {
    margin-left: 38px;
}
footer .footer-social {
    width: 128px;
    float: right;
    margin-top: -43px;
}
footer .footer-social a {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
}
footer .footer-social a + a {
    margin-right: 44px;
}
footer .footer-social a.facebook {
    background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/fb.png');
}
footer .footer-social a.instagram {
    background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/inst.png');
}
#footer-extras .la--container,
#footer-extras {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}
body {
    background-color: #fff !important;
}
.la--container.la--header + .la--container { /* body content */
    min-height: calc(100vh - 120px - 232px);
}
#content .wrap {
    border: 1px solid #C5C5C5;
}
.la--header nav.mobile,
.menu-overlay {
    display: none;
}
@media (max-width: 1024px) {
    .la--header {
        padding-left: 42px;
        padding-right: 42px;
    }
    .la--nav__account {
        padding: 18px 42px 0 0;
    }
    footer {
        padding: 43px 42px 0;
    }
}
@media (max-width: 960px) { /* 768px breakpoint */
    footer {
        padding: 158px 42px 0;
        height: 343px;
    }
    footer .footer-middle {
        top: 77px;
    }
    .la--container.la--header + .la--container { /* body content */
        min-height: calc(100vh - 120px - 345px);
    }
}
@media (max-width: 900px) { /* 768px breakpoint */
    .la--header nav.mobile {
        display: block;
        width: 28px;
        height: 22px;
        cursor: pointer;
        background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/mobile_nav.svg');
        padding: 0;
        margin-top: 18px;
        float: right;
    }
    .menu-overlay .logo img,
    .la--header .logo img {
        width: 61px;
        height: 53px;
    }
    .menu-overlay {
        display: none;
        width: 100%;
        min-height: 100vh;
        padding: 14px 42px 14px 42px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        flex-wrap: wrap;
        align-items: center;
        z-index: 9999;
        overflow-y: auto;
    }
    .close {
        display: block;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background-image: url('https://bornkickers.kounterdev.com/wp-content/themes/bornkickers/assets/img/close.svg');
        background-size: contain;
        float: right;
        margin-top: 15px;
    }
    .menu-overlay ul {
        margin-top: 60px;
    }
    .menu-overlay ul li a,
    .menu-overlay ul li,
    .menu-overlay ul {
        font-size: 64px;
        line-height: 90px;
        letter-spacing: .57px;
        font-family: 'Open Sans Bold';
        color: #000;
        list-style: none;
        margin-left: 0;
    }
    .la_global__header .la--header__banner, #nav .wrap, .la_nav {
        background-color: transparent !important;
    }
    .la--header__banner {
        box-shadow: none !important;
        height: 35px;
    }
    .la_global__header {
        display: none;
    }
    .general-nav {
        display: none;
    }
    body {
        padding-top: 86px;
    }
    .la--header {
        height: 86px;
    }
    .logo img {
        width: 61px;
        height: 53px;
    }
}
@media (max-width: 767px) {
    .menu-overlay ul {
        margin-top: 40px;
    }
    .menu-overlay ul li a,
    .menu-overlay ul li,
    .menu-overlay ul {
        font-size: 38px;
        line-height: 56px;
        letter-spacing: .57px;
        font-family: 'Open Sans Bold';
    }
    footer .footer-col2,
    footer .footer-col1 {
        width: 100%;
        float: none;
        text-align: center;
        line-height: 30px;
    }
    footer .footer-social {
        float: none;
        width: 125px;
        margin: 30px auto;
        overflow: hidden;
    }
    footer .footer-extra p:first-of-type {
        display: none;
    }
    footer {
        padding: 145px 22px 0;
        height: 516px;
    }
    footer .footer-extra p:last-child a + a {
        margin-left: 30px;
    }
    footer .footer-middle {
        top: 68px;
    }
    footer .footer-social {
        margin: 33px auto 20px;
    }
    footer .footer-extra {
        margin-top: 48px;
    }
    footer .footer-extra p:last-child {
        float: none;
        text-align: center;
        width: 100%;
    }
}