@charset "UTF-8";

/* slick */

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* end slick */


html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

body {
    margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline; }

audio:not([controls]) {
    display: none;
    height: 0; }

[hidden],
template {
    display: none; }

a {
    background-color: transparent; }

a:active,
a:hover {
    outline: 0; }

abbr[title] {
    border-bottom: 1px dotted; }

b,
strong {
    font-weight: bold; }

dfn {
    font-style: italic; }

h1 {
    font-size: 2em;
    margin: 0.67em 0; }

mark {
    background: #ff0;
    color: #000; }

small {
    font-size: 80%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

img {
    border: 0; }

svg:not(:root) {
    overflow: hidden; }

figure {
    margin: 1em 40px; }

hr {
    box-sizing: content-box;
    height: 0; }

pre {
    overflow: auto; }

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0; }

button {
    overflow: visible; }

button,
select {
    text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }

button[disabled],
html input[disabled] {
    cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0; }

input {
    line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto; }

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

legend {
    border: 0;
    padding: 0; }

textarea {
    overflow: auto; }

optgroup {
    font-weight: bold; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

td,
th {
    padding: 0; }

html {
    height: 100%; }

.body {
    flex-grow: 2;
    overflow: hidden; }

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .1px;
    -webkit-text-size-adjust: none;
    position: relative;
    color: #000000;
    padding-top: 120px;
    background: #fff;
    min-height: 100%; }

.btn,
input,
button,
a {
    outline: none; }

.entry {
    letter-spacing: -.02em; }

* {
    box-sizing: border-box; }
*:after, *:before {
    box-sizing: border-box; }

h2,
h1,
h3,
h4,
h5,
p,
ul,
li,
ol,
h6 {
    margin: 0;
    padding: 0; }

a {
    text-decoration: none;
    color: inherit; }

ul,
li {
    list-style: none; }

.hide {
    display: none; }

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle; }


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans.woff2') format('woff2'),
    url('../fonts/OpenSans.woff') format('woff'),
    url('../fonts/OpenSans.ttf') format('truetype'),
    url('../fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype'),
    url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('../fonts/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

.site-header {
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    padding: 0 80px;
    background: #ffffff;
    z-index: 90;
    border-bottom: 1px solid #C5C5C5;
}

@media (max-width: 1025px) {
    .site-header {
        padding: 0 42px;
    }
}
@media (max-width: 767px) {
    .site-header {
        padding: 0 28px;
    }
}

header .logo img {
    width: 102px;
    height: 89px;
    margin-top: 14px;
}
header nav {
    /*overflow: hidden;*/
    width: 650px;
    float: right;
    padding-top: 12px;
}
header .top-nav {
    float: right;
    display: block;
    text-align: right;
    width: 150px;
    clear: both;
    margin-bottom: 35px;
}
header .top-nav li {
    display: inline;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Open Sans';
}
header .top-nav li + li {
    margin-left: 30px;
}
header .general-nav {
    float: right;
    display: block;
    text-align: right;
    width: 100%;
    clear: both;
}

/*@media (min-width: 1024px) {*/
    /*header .general-nav {*/
        /*margin-right: 11px;*/
    /*}*/
/*}*/

header .general-nav li {
    display: inline;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Open Sans Bold';
    text-transform: uppercase;
}
header .general-nav li + li {
    margin-left: 41px;
}
header .general-nav li.brackets,
header .general-nav li:hover
{
    position: relative;
}
header .general-nav li.brackets:after,
header .general-nav li.brackets:before,
header .general-nav li:hover:after,
header .general-nav li:hover:before {
    content: " ";
    width: 12px;
    height: 30px;
    background-image: url('../img/bracket.svg');
    background-size: contain;
    position: absolute;
    left: -15px;
    top: -5px;
}
header .general-nav li.brackets:after,
header .general-nav li:hover:after
{
    background-image: url('../img/bracket.svg');
    transform: rotate(180deg);

    left: auto;
    right: -11px;
}
footer {
    position: relative;
    padding: 43px 100px 0;
    width:100%;
    height: 232px;
    font-family: 'Open Sans Semibold';
    border-top: 1px solid #C5C5C5;
}
footer .footer-extra {
    font-family: 'Open Sans';
}
footer .footer-cols {
    overflow: hidden;
}
footer .footer-col2,
footer .footer-col1 {
    line-height: 24px;
    font-size: 14px;
    float: left;
    width: 145px;
}
footer .footer-middle {
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer .footer-middle:after,
footer .footer-middle:before {
    content: " ";
    width: 26px;
    height: 56px;
    background-image: url('../img/bracket_m.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -33px;
    top: -12px;
}
footer .footer-middle:after {
    transform: rotate(180deg);

    left: auto;
    right: -32px;
}
footer .footer-extra {
    width: 100%;
    clear: both;
    color: #7A7A7A;
    font-size: 12px;
    line-height: 14px;
    margin-top: 56px;
    overflow: hidden;
}
footer .footer-extra p {
    float: left;
    display: inline-block;
}
footer .footer-extra p:last-child {
    float: right;
    text-align: right;
}
footer .footer-extra p:last-child a + a {
    margin-left: 38px;
}
footer .footer-social {
    width: 128px;
    float: right;
    margin-top: -43px;
}
footer .footer-social a {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
}
footer .footer-social a + a {
    margin-right: 44px;
}
footer .footer-social a.facebook {
    background-image: url('../img/fb.png');
}
footer .footer-social a.instagram {
    background-image: url('../img/inst.png');
}
.menu-overlay,
header nav.mobile {
    display: none;
}

.home-slide {
    position: relative;
    display: block !important;
    width: 100%;
    height: 755px;
    background-size: cover;
    background-position: center;
}
.general-nav > li > ul {
    display: none;
}
.general-nav > li:hover {
    position: relative;
}
.general-nav > li:hover > ul {
    display: block;
    position: absolute;
    width: 210px;
    height: auto;
    top: 22px;
    left: -32px;
    background: transparent;
    text-align: left;
    margin-top: 25px;

    -webkit-box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.35);
}
.general-nav > li:hover > ul li {
    display: block;
    padding: 26px 0 3px 31px;
    background: #fff;
    width: 100%;
}
.general-nav > li:hover > ul li.top-hidden {
    position: absolute;
    width: 100%;
    height: 28px;
    padding: 0;
    background: transparent;
    top: -28px;
}
.general-nav > li:hover > ul li.top-white {
    position: absolute;
    width: 100%;
    height: 6px;
    padding: 0;
    background: #fff;
    top: -6px;
}
.general-nav > li:hover > ul li:last-child {
    padding-bottom: 26px;
}
.general-nav > li:hover > ul li:after,
.general-nav > li:hover > ul li:before {
    display: none;
}
.general-nav > li:hover > ul li + li {
    margin-left: 0;
}

@media (max-width: 1025px) {
    .home-slide {
        height: 530px;
    }
}

@media (max-width: 769px) {
    .home-slide {
        height: 466px;
    }
}

.home-slide img {
    width: 100%;
}
.main-mobile-nav {
    transition: 0.25s ease;
}
.main-mobile-nav.show-sub {
    margin-left: -100vw;
}
.menu-overlay ul.sub-mobile-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    background-color: #fff;
    margin-left: 100vw;
}


.menu-overlay ul.main-mobile-nav {
    position: relative;
}
.has-sub-mobile-nav:after {
    content: " ";
    background: url('../img/arrow.svg');
    width: 25px;
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 30px;
}
.menu-overlay ul.sub-mobile-nav .back-mobile-nav {
    font-size: 26px;
}
.menu-overlay ul.sub-mobile-nav .back-mobile-nav a:before {
    content: " ";
    background: url('../img/arrow.svg');
    width: 15px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 15px;
    transform: rotate(180deg);
}

@media (max-width: 767px) {
    .has-sub-mobile-nav:after {
        width: 18px;
        height: 24px;
        margin-left: 15px;
    }
    .menu-overlay ul.sub-mobile-nav .back-mobile-nav {
        font-size: 16px;
    }
    .menu-overlay ul.sub-mobile-nav .back-mobile-nav a:before {
        width: 8px;
        height: 12px;
        margin-right: 10px;
    }
}

@media (max-width: 376px) {
    .home-slide img {
        width: auto;
        height: 446px;
    }
}

.top-image .corners,
.home-slide .corners {
    position: absolute;
    max-width: 672px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url('../img/corners.svg');
}

@media (max-width: 1025px) {
    /*.home-slide .corners {*/
        /*display: none;*/
    /*}*/
}

.home-slide .text {
    display: inline-block;
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (min-width: 1025px) {
    .home-slide h2 {
        white-space: nowrap;
    }
}
@media (max-width: 1025px) {
    .home-slide .text {
        top: 50%
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .home-slide .text {
        width: auto;
        /*height: 120px;*/
    }
    .home-slide .text .text-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    .home-slide p {
        /*max-width: 500px;*/
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .home-slide .text {
        width: auto;
        height: auto;
    }
    .home-slide .text .text-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
}

.home-slide h2 {
    font-family: 'Open Sans Bold';
    font-size: 80px;
    line-height: 57px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

@media (max-width: 1025px) {
    .home-slide h2 {
        font-size: 60px;
        line-height: 60px;
        white-space: nowrap;
    }
}

@media (max-width: 767px) {
    .home-slide h2 {
        font-size: 27px;
        line-height: 32px;
    }
}

.home-slide p {
    font-family: 'Open Sans Semibold';
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    padding: 0 20px;

    left: 0;
    top: calc(50% + 50px);
    position: absolute;
    transform: translate(0, 0);
}

@media (max-width: 1025px) {
    .home-slide p {
        font-size: 23px;
        line-height: 23px;
        white-space: normal;
        top: calc(50% + 60px);
    }
}
@media (max-width: 767px) {
    .home-slide p {
        font-size: 15px;
        line-height: 16px;
        top: calc(50% + 45px);
    }
}

.home-slide .text:after,
.home-slide .text:before {
    background-image: url('../img/bracket_l_w.svg');
    content: " ";
    width: 58px;
    height: 136px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -78px;
    top: -62%;
}

.home-slide .text:after {
    transform: rotate(180deg);
    left: auto;
    right: -79px;
}

@media (max-width: 1025px) {
    .home-slide .text:after,
    .home-slide .text:before {
        background-image: url('../img/bracket_l_w.svg');
        left: -66px;
        width: 44px;
        height: 103px;
        top: -35%;
    }
    .home-slide .text:after {
        transform: rotate(180deg);
        left: auto;
        right: -67px;
    }
}

@media (max-width: 767px) {
    .home-slide h2 {
        max-width: calc(100% - 80);
    }
    .home-slide .text:after,
    .home-slide .text:before {
        left: -40px;
        width: 26px;
        height: 61px;
        top: -42%;
    }
    .home-slide .text:after {
        transform: rotate(180deg);
        left: auto;
        right: -41px;
    }
}

.top-image {
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}


.content_template_base2 h2.emulate-h1,
.content_template_base1 h1,
.top-image h1 {
    text-transform: uppercase;
    font-size: 55px;
    line-height: 104px;
    padding: 0 15px;
    max-width: calc(100vw - 88px);
    text-align: center;

}

.top-image h1 {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: 'Open Sans Bold';
    font-size: 60px;
    line-height: 72px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;

    font-size: 80px;
    line-height: 57px;
}

.top-image h1:after,
.top-image h1:before {
    content: " ";
    width: 44px;
    height: 104px;
    background-image: url('../img/bracket_l_w.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    left: -45px;
    top: -12px;


    width: 58px;
    height: 136px;
    left: -78px;
    top: -62%;
}
.top-image h1:after {
    transform: rotate(180deg);
    left: auto;
    right: -47px;
    right: -79px;
}

@media (max-width: 1025px) {
    .top-image h1 {
        font-size: 42px;
        line-height: 54px;
        padding: 0 20px;

        font-size: 60px;
        line-height: 60px;
    }
    .top-image {
        height: 500px;
    }
    .top-image h1:after,
    .top-image h1:before {
        height: 67px;
        left: -25px;
        top: -6px;
        background-image: url('../img/bracket_l_w.svg');

        left: -46px;
        width: 44px;
        height: 103px;
        top: -35%;

    }
    .top-image h1:after {
        left: auto;
        right: -25px;
        right: -47px;
    }
}

@media (max-width: 769px) {
    .top-image {
        height: 380px;
    }
}

@media (max-width: 767px) {
    .top-image h1 {
        font-size: 32px;
        line-height: 48px;
    }
    .top-image {
        height: 370px;
        padding: 0 40px;
    }
    .top-image h1:after,
    .top-image h1:before {
        height: 60px;
        left: -25px;
        top: 50%;
        margin-top: -30px;
        /*top: -6px;*/
        background-image: url('../img/bracket_l_w.svg');

    }
    .top-image h1:after {
        left: auto;
        right: -25px;
    }

    .content_template_base2 h2.emulate-h1,
    .content_template_base1 h1, .top-image h1 {
        max-width: 94%;
        line-height: 36px;
    }
}

.content_template_base1 p,
.content_template_base2 p {
    /*max-width: 1140px;*/
}
.content_template_base1,
.content_template_base2 {
    max-width: 1274px;
}















.slick-dots {
    display: block;
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translate(-50%, 0);
}

@media (max-width: 376px) {
    .slick-dots {
        bottom: 31px;
    }
}

.slick-dots li {
    display: inline-block;
    padding: 0 13px;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    border-radius: 50%;
    outline: none;
    background: #fff;
}
.slick-dots li.slick-active button {
    background-color: #F20C23;
    /*background-color: #EA1433;*/
}
.red-wrap,
.white-wrap {
    width: 100%;
    padding: 124px 0 80px 0;
    text-align: center;
}

.white-wrap__before-story {
    padding-bottom: 72px;
}

@media (max-width: 1025px) {
    .red-wrap,
    .white-wrap {
        padding-top: 70px;
    }

    .white-wrap__before-story {
        padding-bottom: 53px;
    }
}

@media (max-width: 376px) {
    .red-wrap,
    .white-wrap {
        padding-top: 70px;
        padding-bottom: 33px;
    }
}

.red-wrap {
    background-color: #F20C23;
}

.white-wrap {
    background-color: #ffffff;
}

.red-wrap h2,
.white-wrap h2 {
    display: inline-block;
    position: relative;
    font-family: "Open Sans Bold";
    color: #000;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.4px;
}

@media (max-width: 1025px) {
    .red-wrap h2,
    .white-wrap h2 {
        font-size: 32px;
        line-height: 47px;
    }
}

@media (max-width: 376px) {
    .red-wrap h2,
    .white-wrap h2 {
        font-size: 32px;
        line-height: 42px;
    }
}

.red-wrap h2:after,
.red-wrap h2:before,
.white-wrap h2:after,
.white-wrap h2:before {
    content: " ";
    width: 44px;
    height: 104px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -60px;
    top: -14px;
}

@media (max-width: 1025px) {
    .red-wrap h2:after,
    .red-wrap h2:before,
    .white-wrap h2:after,
    .white-wrap h2:before {
        height: 67px;
        left: -44px;
        top: -10px;
    }
}

@media (max-width: 376px) {
    .red-wrap h2:after,
    .red-wrap h2:before,
    .white-wrap h2:after,
    .white-wrap h2:before {
        height: 60px;
        left: -28px;
        top: -10px;
    }
}

.red-wrap h2:after,
.red-wrap h2:before {
    background-image: url('../img/bracket_l_w.svg');
}

.white-wrap h2:after,
.white-wrap h2:before {
    background-image: url('../img/bracket_l.svg');
}

.red-wrap h2:after,
.white-wrap h2:after {
    transform: rotate(180deg);
    left: auto;
    right: -61px;
}

@media (max-width: 1025px) {
    .red-wrap h2:after,
    .white-wrap h2:after {
        right: -44px;
    }
}

@media (max-width: 376px) {
    .red-wrap h2:after,
    .white-wrap h2:after {
        right: -27px;
    }
}

.red-wrap p,
.white-wrap p {
    font-family: "Open Sans Bold";
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.2px;
    margin-top: 42px;
}

@media (max-width: 1025px) {
    .red-wrap p,
    .white-wrap p {
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;
    }
}

@media (max-width: 376px) {
    .red-wrap p,
    .white-wrap p {
        margin-top: 26px;
    }
}

.red-wrap ul,
.white-wrap ul {
    display: block;
    width: 1140px;
}

.partners .partners__gallery {
    list-style: none;
    white-space: nowrap;
    margin-left: 80px;
    margin-bottom: 114px;
}

@media (max-width: 769px) {
    .partners .partners__gallery {
        margin-left: 28px;
    }
}


.partners .partners__image {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    height: 290px;
    text-align: center;
    margin-left: 10px;
    vertical-align: bottom;
}

/*.partners__image .partners__image__pic img {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*margin-left: 50%;*/
    /*margin-top: 50%;*/
    /*transform: translate(-50%, -50%);*/

/*}*/

.partners__image .partners__image__pic {
    height: 120px;
    width: 120px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.partners__image__pic img {
    margin: 0 auto;
}

.partners__image .partners__image__title {
    font-weight: 600;
    font-size: 17px;
    white-space: normal;

    margin-bottom: 15px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 376px) {
    .partners__image .partners__image__title {
        font-size: 15px;
    }
}

@media (max-width: 376px) {
    .partners .simplebar-offset {
        position: relative;
    }

    .partners .partners__image {
        width: calc(50% - 15px);
    }

    .partners .partners__gallery {
        white-space: normal;
        margin-left: 0;
    }
}

.story {
    position: relative;
    margin-left: 80px;
    margin-right: 190px;
    max-width: 1170px;
}

@media (min-width: 1441px) {
    .story {
        margin: 0 auto;
    }
}

@media (max-width: 1440px) {
    .story {
        margin-right: 122px;
    }
}

@media (max-width: 980px) {
    .story {
        margin-right: 103px;
    }
}

@media (max-width: 800px) {
    .story {
        margin-left: 28px;
        margin-right: 28px;
    }
}

.story .story__video-link a {
    position: absolute;
    top: calc(50% - 56.5px);
    left: calc(50% - 56.5px);
    z-index: 2;
}

@media (max-width: 1440px) {
    .story .story__video-link a {
        top: calc(50% - 41px);
        left: calc(50% - 41px);
    }

    .story .story__video-link a img {
        height: 82px;
    }
}

@media (max-width: 1040px) {
    .story .story__video-link a {
        top: calc(50% - 27px);
        left: calc(50% - 27px);
    }

    .story .story__video-link a img {
        height: 54px;
    }
}

@media (max-width: 800px) {
    .story .story__video-link a {
        top: calc(50% - 16.5px);
        left: calc(50% - 16.5px);
    }

    .story .story__video-link a img {
        height: 33px;
    }
}

.story .story__video-link_type-team img {
    max-height: 250px;
}

.story .story__corners {
    position: absolute;
    width: 342px;
    height: 100%;
    top: 0;
    right: 15px;
    /*transform: translate(-50%, 0);*/
    background-image: url('../img/corners2.svg');
    background-size: cover;
}

@media (max-width: 1440px) {
    .story .story__corners {
        right: 0;
        width: 403px;
    }
}

@media (max-width: 1040px) {
    .story .story__corners {
        width: 250px;
    }
}

@media (max-width: 800px) {
    .story .story__corners {
        display: none;
    }
}

.story__horizontal-image {
    position: absolute;
    width: 374px;
    height: 251px;
    /*top: 52px;*/
    /*right: -110px;*/
    top: 8.3%;
    right: -9.2%;
}

@media (max-width: 1439px) {
    .story__horizontal-image {
        width: 280px;
        height: 188px;
    }
}

@media (max-width: 1040px) {
    .story__horizontal-image {
        width: 245px;
        height: 165px;
    }
}

@media (max-width: 800px) {
    .story__horizontal-image {
        width: 203px;
        height: 136px;
        top: auto;
        bottom: -105px;
        left: 31px;
    }
}

.story__horizontal-image__content {
    position: relative;
}

.story__horizontal-image__content:after,
.story__horizontal-image__content:before {
    content: " ";
    width: 44px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -15px;
}

@media (max-width: 1439px) {
    .story__horizontal-image__content:after,
    .story__horizontal-image__content:before  {
        height: 210px;
        top: -12px;
    }
}

@media (max-width: 1040px) {
    .story__horizontal-image__content:after,
    .story__horizontal-image__content:before  {
        height: 183px;
        top: -10px;
        left: -8px;
    }
}

@media (max-width: 800px) {
    .story__horizontal-image__content:after,
    .story__horizontal-image__content:before  {
        height: 155px;
        left: -7px;
    }
}

.story__horizontal-image__content:after,
.story__horizontal-image__content:before {
    background-image: url('../img/bracket_top.svg');
}


.story__horizontal-image__content:after {
    transform: rotate(180deg);
    left: auto;
    right: -13px;
}

@media (max-width: 1439px) {
    .story__horizontal-image__content:after {
        right: -10px;
    }
}

@media (max-width: 1040px) {
    .story__horizontal-image__content:after {
        right: -8px;
    }
}

@media (max-width: 800px) {
    .story__horizontal-image__content:after {
        right: -7px;
    }
}


.story__vertical-image {
    position: absolute;
    width: 258px;
    height: 386px;
    /*bottom: -108px;*/
    /*right: 126px;*/
    bottom: -17.2%;
    right: 10.5%;
}

@media (max-width: 1439px) {
    .story__vertical-image {
        width: 196px;
        height: 293px;

        bottom: -26.2%;
    }
}

@media (max-width: 1040px) {
    .story__vertical-image {
        width: 158px;
        height: 239px;

        /*bottom: -47.2%;*/
        /*right: 10px;*/
    }
}
@media (max-width: 930px) {
    .story__vertical-image {
        right: 10px;
    }
}
@media (max-width: 880px) {
    .story__vertical-image {
        right: 10px;
        bottom: -40.2%;
    }
}

@media (max-width: 800px) {
    .story__vertical-image {
        width: 138px;
        height: 209px;

        bottom: -287px;
        right: auto;
        left: 145px;
    }
}

.story__vertical-image__content {
    position: relative;
}

.story__vertical-image__content:after,
.story__vertical-image__content:before {
    content: " ";
    width: 51px;
    height: 422px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -17px;
}

@media (max-width: 1439px) {
    .story__vertical-image__content:after,
    .story__vertical-image__content:before {
        height: 324px;
        left: -12px;
        top: -16px;
    }
}

@media (max-width: 1040px) {
    .story__vertical-image__content:after,
    .story__vertical-image__content:before {
        height: 260px;
        left: -10px;
        top: -13px;
    }
}


@media (max-width: 800px) {
    .story__vertical-image__content:after,
    .story__vertical-image__content:before {
        height: 226px;
        left: -8px;
        top: -10px;
    }
}

.story__vertical-image__content:after,
.story__vertical-image__content:before {
    background-image: url('../img/bracket_bottom.svg');
}


.story__vertical-image__content:after {
    transform: rotate(180deg);
    left: auto;
    right: -13px;
}

@media (max-width: 1439px) {
    .story__vertical-image__content:after {
        right: -12px;
    }
}

@media (max-width: 1040px) {
    .story__vertical-image__content:after {
        right: -10px;
    }
}

@media (max-width: 1040px) {
    .story__vertical-image__content:after {
        right: -8px;
    }
}

.story__blockqueue {
    padding: 79px 56px 52px 56px;
    text-align: center;
    background-color: #F20C23;
    background-image: url('../img/corners.svg');
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 28px;
    line-height: 41px;

    position: absolute;

    left: 110px;
    bottom: -101px;

    width: 510px;
    height: 302px;
}

@media (max-width: 1439px) {
    .story__blockqueue {
        padding: 35px 31px 42px 31px;

        width: 380px;
        height: 225px;

        font-size: 22px;

        left: 80px;
    }
}

@media (max-width: 1040px) {
    .story__blockqueue {
        left: 26px;
        bottom: -160px;
    }
}

@media (max-width: 800px) {
    .story__blockqueue {
        padding: 49px 30px 38px 51px;

        font-size: 18px;

        left: 0;
        bottom: -537px;

        width: 320px;
        height: 189px;
        padding-top: 36px;
        line-height: 25px;

        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

@media (max-width: 376px) {
    .story__blockqueue {
        padding-top: 36px;
        line-height: 25px;
        padding-left: 30px;
        background-size: cover;
        bottom: -501px;
    }
}

.story__blockqueue .story__blockqueue__author {
    font-weight: 300;
    font-size: 20px;
    margin-top: 26px;
}

@media (max-width: 1392px) {
    .story__blockqueue .story__blockqueue__author {
        margin-top: 6px;
    }
}

@media (max-width: 769px) {
    .story__blockqueue .story__blockqueue__author {
        margin-top: 13px;
        font-size: 16px;
    }
}

.image-link {
    width: 100%;
}

.image-link img {
    width: 100%;
}

@media (min-width: 769px) {
    .only-desktop {
        display: block;
    }

    .only-table-and-mobile {
        display: none;
    }
}

@media (max-width: 769px) {
    .only-desktop {
        display: none;
    }

    .only-table-and-mobile {
        display: block;
    }
}

.button-link {
    margin-top: 60px;
    text-align: center;
}

.button-link.button-link_extra-margin {
    margin-top: 156px;
}

.button-link.button-link_extra-margin a {
    padding: 9px 24px;
    font-family: 'Open Sans Bold';
}

@media (max-width: 1040px) {
    .button-link.button-link_extra-margin {
        margin-top: 195px;
    }
}

@media (max-width: 800px) {
    .button-link.button-link_extra-margin {
        margin-top: 560px;
    }
}

.button-link a {
    display: inline-block;
    background-color: #F20C23;
    color: #ffffff;
    border-radius: 5px;
    padding: 6px 24px;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 600;
}

.coaches .coaches__gallery {
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    width: 1425px;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .coaches .coaches__gallery {
        width: 100%;
    }
}

@media (max-width: 1025px) {
    .coaches .coaches__gallery {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media (max-width: 769px) {
    .coaches .coaches__gallery {
        padding-left: 31px;
        padding-right: 31px;
    }
}

@media (max-width: 767px) {
    .coaches .coaches__gallery {
        padding-left: 28px;
        padding-right: 28px;
        flex-direction: column;
    }
}



@media (max-width: 767px) {
    .coaches__gallery-item {
        margin-bottom: 55px;
    }

    .coaches__gallery-item:last-child {
        margin-bottom: 0;
    }
}

.coaches__gallery-item img {
    width: 100%;
    display: block;
    margin-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 1025px) {
    .coaches__gallery-item img {
        max-width: 320px;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 769px) {
    .coaches__gallery-item img {
        max-width: 233px;
        margin-bottom: 15px;
        padding-left: 9px;
        padding-right: 9px;
    }
}

@media (max-width: 767px) {
    .coaches__gallery-item img {
        max-width: none;
        margin-bottom: 22px;
        padding: 0;
    }
}

.coaches__gallery-item span {
    font-family: 'Open Sans';
    font-size: 25px;
    display: block;
    text-align: center;
}

@media (max-width: 1025px) {
    .coaches__gallery-item span {
        font-size: 15px;
    }
}

@media (max-width: 376px) {
    .coaches__gallery-item span {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {.story__blockqueue
    header {
        padding: 0 42px;
    }
    footer {
        padding: 43px 42px 0;
    }
}
@media (max-width: 960px) { /* 768px breakpoint */
    footer {
        padding: 158px 42px 0;
        height: 343px;
    }
    footer .footer-middle {
        top: 77px;
    }
}
@media (max-width: 900px) { /* 768px breakpoint */
    header nav {
        display: none;
    }
    header nav.mobile {
        display: block;
        width: 28px;
        height: 22px;
        cursor: pointer;
        background-image: url('../img/mobile_nav.svg');
        padding: 0;
        margin-top: 32px;
    }
    header {
        height: 86px;
    }
    body {
        padding-top: 86px;
    }
    .menu-overlay .logo img,
    header .logo img {
        width: 61px;
        height: 53px;
    }
    .menu-overlay {
        display: none;
        width: 100%;
        min-height: 100vh;
        padding: 14px 42px 14px 42px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #FFF;
        flex-wrap: wrap;
        align-items: center;
        z-index: 9999;
        overflow-y: auto;
    }
    .close {
        display: block;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background-image: url('../img/close.svg');
        background-size: contain;
        float: right;
        margin-top: 15px;
    }
    .menu-overlay ul {
        margin-top: 60px;
    }
    .menu-overlay ul {
        font-size: 64px;
        line-height: 90px;
        letter-spacing: .57px;
        font-family: 'Open Sans Bold';
    }
    /*.home-slide {*/
        /*height: calc(100vh - 86px);*/
    /*}*/
}
@media (max-width: 767px) {
    .menu-overlay {
        padding: 14px 28px 14px 28px;
    }
    .menu-overlay ul {
        margin-top: 40px;
    }
    .menu-overlay ul {
        font-size: 38px;
        line-height: 56px;
        letter-spacing: .57px;
        font-family: 'Open Sans Bold';
    }
    footer .footer-col2,
    footer .footer-col1 {
        width: 100%;
        float: none;
        text-align: center;
        line-height: 30px;
    }
    footer .footer-social {
        float: none;
        width: 125px;
        margin: 30px auto;
        overflow: hidden;
    }
    footer .footer-extra p:first-of-type {
        display: none;
    }
    footer {
        padding: 145px 22px 0;
        height: 516px;
    }
    footer .footer-extra p:last-child a + a {
        margin-left: 30px;
    }
    footer .footer-middle {
        top: 68px;
    }
    footer .footer-social {
        margin: 33px auto 20px;
    }
    footer .footer-extra {
        margin-top: 48px;
    }
    footer .footer-extra p:last-child {
        float: none;
        text-align: center;
        width: 100%;
    }
}


div.benefits {
    width: 100%;
    margin-top: 54px;
}

div.benefits img {
    display: block;
    /*height: 100%;*/
    /*margin-bottom: 35px;*/
    max-height: 105px;

    height: 105px;
    margin: 0 auto 35px;
}

@media (max-width: 769px) {
    .benefits__column__img-wrap {
        display: block;
        height: 140px;
    }

    div.benefits img {
        height: auto;
        max-height: none;
    }

    div.benefits img {
        max-height: 103px;
    }
}

@media (max-width: 376px) {
    div.benefits img {
        max-height: 73px;
        margin-bottom: 18px;
    }
    .benefits__column__img-wrap {
        height: 88px;
    }
}

div.benefits span {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 23px;
}

@media (max-width: 1025px) {
    div.benefits span {
        font-size: 18px;
    }
}

@media (max-width: 376px) {
    div.benefits span {
        font-size: 18px;
    }
}

.benefits__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1440px;
    margin: 0 auto 67px auto;
}

.benefits__row:last-child {
    margin-bottom: -4px;
}

@media (max-width: 1025px) {
    .benefits__row {
        margin-bottom: 57px;
    }
}

@media (max-width: 769px) {
    .benefits__row {
        margin-bottom: 0;
    }
}

@media (max-width: 376px) {
    .benefits__row {
        padding-left: 35px;
        padding-right: 35px;
    }
}

.benefits__column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 769px) {
    .benefits__column {
        min-width: 50%;
        margin-bottom: 67px;
    }
}

@media (max-width: 376px) {
    .benefits__column {
        margin-bottom: 45px;
    }
}

.simplebar-track.simplebar-horizontal {
    height: 14px;
    background-color: #dadada;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    height: 14px;
    top: 0;
}

.simplebar-scrollbar:before {
    border-radius: 0;
    background: #f32647;
    opacity: 1 !important;
}

/*
Base Template 1,2
 */
.content {
    font-size: 18px;
    line-height: 30px;
}

.content_template_base1,
.content_template_base2 {
    margin: 80px auto 140px;
}
@media (max-width: 1450px) {
    .content_template_base1,
    .content_template_base2 {
        margin: 80px 80px 280px;
    }
}

/*.content_template_base2 {*/
    /*margin: 0 80px 280px 80px;*/
/*}*/

.content_template_base2 h2.emulate-h1,
.content_template_base1 h1,
.content_template_base2 h1 {
    text-transform: uppercase;
    font-size: 55px;
    line-height: 104px;
    padding: 0 15px;
    font-family: 'Open Sans Bold';
    margin-top: -30px;
    margin-bottom: 78px;
}

.content_template_base2 h1 {
    color: white;
    text-align: center;
    background-image: url("../img/home.jpg");
    background-size: cover;
    height: 756px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -80px;
    margin-right: -80px;
    margin-top: -80px;
}

.content_template_base2 h2.emulate-h1:after,
.content_template_base2 h2.emulate-h1:before,
.content_template_base1 h1:after,
.content_template_base1 h1:before,
.content_template_base2 h1:after,
.content_template_base2 h1:before {
    content: " ";
    width: 44px;
    height: 104px;
    background-image: url('../img/bracket_l.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: inline-block;
    left: -15px;
    top: 30px;
}


.content_template_base2 h1:after,
.content_template_base2 h1:before {
    background-image: url('../img/bracket_l_w.svg');
    top: 0;
}

.content_template_base2 h2.emulate-h1:after,
.content_template_base1 h1:after,
.content_template_base2 h1:after {
    transform: rotate(180deg);

    left: auto;
    right: -15px;
}
.content_template_base1 h2 img,
.content_template_base2 h2 img {
    margin-left: 22px;
    margin-top: -10px;
}
.content_template_base1 h3 img,
.content_template_base2 h3 img {
    margin-left: 22px;
    margin-top: -11px;
}
.content_template_base1 h2,
.content_template_base2 h2 {
    /*text-transform: uppercase;*/
    margin: 75px 0 0 0;
    font-size: 31px;
    font-family: 'Open Sans Bold';
    line-height: 42px;
}

.content_template_base1 h3,
.content_template_base2 h3 {
    /*text-transform: uppercase;*/
    margin: 55px 0 0 0;
    font-size: 30px;
    font-family: 'Open Sans Bold';
}

.content_template_base1 h4,
.content_template_base2 h4 {
    margin: 65px 0 0 0;
    /*text-transform: uppercase;*/
    font-size: 23px;
    font-family: 'Open Sans Bold';
}

.content_template_base1 blockquote,
.content_template_base2 blockquote {
    padding: 70px 60px;
    margin: 0 0 35px 0;
    background-color: #F20C23;
    background-image: url('../img/corners3.svg');
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 26px;
    display: inline-block;
}

.content_template_base1 blockquote:before,
.content_template_base2 blockquote:before {
    content: "\201C";
}

.content_template_base1 blockquote:after,
.content_template_base2 blockquote:after {
    content: "\201D";
}

.content_template_base1 blockquote p,
.content_template_base2 blockquote p {
    margin: 0;
    display: inline;

}

.content_template_base1 p a,
.content_template_base2 p a {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

.content_template_base1 ul,
.content_template_base2 ul {
    margin: 30px 0 0 0;
    list-style: disc;
}

.content_template_base1 li,
.content_template_base2 li {
    list-style: disc inside;
    margin-left: 10px;
}

.content_template_base1 p,
.content_template_base2 p {
    margin-top: 32px;
}

.content_template_base1 a,
.content_template_base2 a {
    color: #F20C23;
    font-weight: 600;
}

@media (max-width: 1025px) {
    .content_template_base1,
    .content_template_base2 {
        margin: 40px 40px 200px 40px;
    }

    .content_template_base2 h2.emulate-h1,
    .content_template_base1 h1,
    .content_template_base2 h1 {
        line-height: 67px;
        font-size: 38px;
        padding: 0 5px;
    }

    .content_template_base2 h1 {
        height: 504px;
        margin-left: -40px;
        margin-right: -40px;
        margin-top: -40px;
    }

    .content_template_base2 h2.emulate-h1:after,
    .content_template_base2 h2.emulate-h1:before,
    .content_template_base1 h1:after,
    .content_template_base1 h1:before,
    .content_template_base2 h1:after,
    .content_template_base2 h1:before {
        height: 67px;
        background-image: url('../img/bracket_m.svg');
        left: -5px;
        top: 20px;
    }

    .content_template_base2 h1:after,
    .content_template_base2 h1:before {
        background-image: url('../img/bracket_l_w.svg');
        top: 0;
    }
    .content_template_base2 h2.emulate-h1:after,
    .content_template_base1 h1:after,
    .content_template_base2 h1:after {
        left: 5px;
    }

    .content_template_base1 h2,
    .content_template_base2 h2 {
        margin: 55px 0 0 0;
        font-size: 24px;
    }

    .content_template_base1 h3,
    .content_template_base2 h3 {
        margin: 45px 0 0 0;
        font-size: 20px;
    }

    .content_template_base1 h4,
    .content_template_base2 h4 {
        margin: 35px 0 0 0;
        font-size: 18px;
    }

    .content_template_base1 p,
    .content_template_base2 p {
        margin-top: 38px;
    }

    .content_template_base1 li,
    .content_template_base2 li {
        margin-left: 10px;
        font-size: 17px;
    }

    .content_template_base1 blockquote,
    .content_template_base2 blockquote {
        padding: 47px 22px;
        font-size: 25px;
    }
}

@media (max-width: 769px) {
    .content {
        font-size: 16px;
        line-height: 28px;
    }

    .content_template_base1 p,
    .content_template_base2 p {
        margin-top: 22px;
    }

    .content_template_base1 blockquote,
    .content_template_base2 blockquote {
        padding: 53px 70px;
        font-size: 23px;
    }

    .content_template_base2 h1 {
        height: 380px;
    }
}

@media (max-width: 767px) {
    .content_template_base2 h2.emulate-h1,
    .content_template_base1 h1 {
        max-width: 100%;
    }
    .content_template_base1 {
        margin: 60px 28px 170px 28px;
    }
    .content_template_base2 {
        margin: 40px 28px 170px 28px;
    }

    .content_template_base2 h2.emulate-h1,
    .content_template_base1 h1,
    .content_template_base2 h1 {
        line-height: 56px;
        font-size: 27px;
    }

    .content_template_base2 h1 {
        height: 370px;
        margin-left: -28px;
        margin-right: -28px;
        margin-top: -60px;
    }

    .content_template_base2 h2.emulate-h1:after,
    .content_template_base2 h2.emulate-h1:before,
    .content_template_base1 h1:after,
    .content_template_base1 h1:before,
    .content_template_base2 h1:after,
    .content_template_base2 h1:before {
        height: 56px;
        width: 26px;
    }

    .content_template_base1 h2,
    .content_template_base2 h2 {
        font-size: 22px;
    }

    .content_template_base1 h3,
    .content_template_base2 h3 {
        font-size: 18px;
    }

    .content_template_base1 h4,
    .content_template_base2 h4 {
        font-size: 18px;
    }

    .content_template_base1 blockquote,
    .content_template_base2 blockquote {
        text-align: center;
        padding: 38px 45px;
        font-size: 17px;
    }
    .home-slide p {
        margin-top: 2px;
    }
    /*.home-slide .text:after, .home-slide .text:before {*/
        /*top: -11px;*/
    /*}*/

    .content_template_base1 h3, .content_template_base2 h3 {
        margin: 30px 0 0 0;
    }
    .content_template_base1 ul, .content_template_base2 ul {
        margin: 20px 0 0 0;
    }
    .content_template_base2 h2.emulate-h1,
    .content_template_base1 h1 {
        margin-bottom: 45px;
    }
    .content_template_base1 h2, .content_template_base2 h2 {
        margin: 40px 0 0 0;
    }

}

.mobile-visible {
    display: none !important;
}
@media (max-width: 767px) {
    .mobile-invisible {
        display: none !important;
    }
    .mobile-visible {
        display: inline-block !important;
    }
}

.image-contact {
    margin-bottom: 20px;
}

@media (max-width: 1441px) {
    .p-contact {
        margin-bottom: -200px;
    }
}
.content_template_base1 h4,
.content_template_base2 h4 {
    padding-top: 125px;
    margin-top: -75px;
}
.image-benefits {
    margin-bottom: -25px;
}

.content_template_base1 {
    margin-top: 100px;
}
.content_template_base2 h2.emulate-h1,
.content_template_base1 h1, .content_template_base2 h1 {
    margin-bottom: 30px;
    text-align: center;
}
.content_template_base1 h1 + p > img, .content_template_base2 h1 + p > img {
    padding-top: 10px;
}
.content_template_base1 h2, .content_template_base2 h2 {
    margin-top: 0;
    line-height: 30px;
}
.content_template_base1 h3, .content_template_base2 h3 {
    line-height: 30px;
}
.content_template_base1 p, .content_template_base2 p {
    margin-top: 0;
    margin-bottom: 35px;
}
.content_template_base1 p + h2, .content_template_base2 p + h2 {
    padding-top: 25px;
}
.content_template_base1 p img, .content_template_base2 p img {
    margin-bottom: 7px;
}
.content_template_base1 h4, .content_template_base2 h4 {
    padding-top: 125px;
    margin-top: -95px;
    line-height: 40px;
}
.content_template_base1 h4 + p > img, .content_template_base2 h4 + p > img {
    padding-top: 16px;
}
.content_template_base1 h2 + p, .content_template_base2 h2 + p {
    padding-top: 12px;
}
.content_template_base1 h3 + p, .content_template_base2 h3 + p {
    padding-top: 12px;
}
.content_template_base1 ul + h4, .content_template_base2 ul + h4 {
    margin-top: -61px;
}
.content_template_base1 ul + h2, .content_template_base2 ul + h2 {
    margin-top: 50px;
}
.content_template_base1 ul + p, .content_template_base2 ul + p {
    margin-top: 16px;
}
.content_template_base1 ul + blockquote, .content_template_base2 ul + blockquote {
    margin-top: 35px;
}
p.anchor {
    margin: -150px 0 0 0 !important;
    height: 1px;
    width: 100%;
    padding-bottom: 150px;

}
h4 img {
    margin-top: -20px;
}
@media (max-width: 1024px) {
    .content_template_base1 {
        margin-top: 70px;
    }
    .content_template_base2 h2.emulate-h1,
    .content_template_base1 h1, .content_template_base2 h1 {
        margin-bottom: 22px;
    }
    .content_template_base1 p + h2, .content_template_base2 p + h2 {
        padding-top: 6px;
    }
    .content_template_base1 ul, .content_template_base2 ul {
        margin: 20px 0 0 0;
    }
    .content_template_base1 h4, .content_template_base2 h4 {
        margin-top: -120px;
    }
    .content_template_base1 ul + h4, .content_template_base2 ul + h4 {
        margin-top: -90px;
    }
}
@media (min-width: 768px) {
    .content_template_base1 h1 + h2, .content_template_base2 h1 + h2 {
        padding-top: 25px;
    }
}
@media (max-width: 767px) {
    .content_template_base1 p, .content_template_base2 p {
        margin-bottom: 30px;
    }
    .content_template_base1 h1 + h2, .content_template_base2 h1 + h2 {
        margin-top: 30px;
    }
}
.content {
    position: relative;
}


@media (min-width: 820px) {
    .col3 h3 {
        margin-top: 0;
    }
    .columns3 {
        display: flex;
        padding-bottom: 30px;
    }
    .col3 {
        width: 33.333%;
    }
}
@media (max-width: 1360px) and (min-width: 820px) {
    .columns3 h3 {
        font-size: 24px;
    }
}
@media (max-width: 1024px) and (min-width: 820px) {
    .columns3 h3 {
        font-size: 20px;
    }
}
@media (max-width: 819px) {
    .columns3 {
        padding-bottom: 30px;
    }
}

@media (min-width: 767px) {
    .csRow {
        width: calc(100% + 30px);
        margin-left: -30px;
        padding: 10px 15px 0;
    }
    .csColumn {
        padding: 0 15px !important;
    }
}
@media (max-width: 767px) {
    .csRow .csColumn + .csColumn h3 {
        padding-top: 26px;
    }
    .content_template_base2 .csRow li {
        margin-left: 0;
    }
}
.content_template_base2 h2 img,
h4 img {
    height: 35px !important;
    margin-top: -8px;
}
.content_template_base2 h2 img {
    margin-left: 8px;
}
@media (max-width: 1023px) {
    .content_template_base1 .csRow h4[id], .content_template_base2 .csRow h4[id] {
        line-height: 25px !important;
    }
    .content_template_base2 h2 img,
    h4 img {
        height: 25px !important;
        margin-top: -8px;
    }
}

.content_template_base1 .csRow h4, .content_template_base2 .csRow h4 {
    padding-top: 0px;
    margin-top: -25px;
    margin-bottom: 10px;
    line-height: 40px;
}
.content_template_base1 .csRow h4[id], .content_template_base2 .csRow h4[id] {
    margin-bottom: 10px;
    line-height: 40px;
    padding-top: 125px;
    margin-top: -95px;
    pointer-events: none;
}
.content_template_base1 .csRow h2[id], .content_template_base2 .csRow h2[id] {
    padding-top: 135px;
    margin-top: -135px;
    pointer-events: none;
}
.content_template_base1 .csColumn > h3,
.content_template_base2 .csColumn > h3 {
    margin-top: 0;
}