@mixin breakpoint($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin no-bullets() {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

@mixin placeholder {
  ::-webkit-input-placeholder { @content }
  :-moz-placeholder           { @content }
  ::-moz-placeholder          { @content }
  :-ms-input-placeholder      { @content }  
}

@mixin screen-reader-text {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

%button {
	padding: 8px 10px;
	border: 2px solid $color-red;
	border-radius: 0;
	line-height: 30px;
	text-transform: uppercase;
}
