.slick-slider {
	position: relative;
	display: block;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	//Instead of the line below you could use @include user-select($select)
	user-select: none;
	touch-action: pan-y;
	.slick-track {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate3d(0, 0, 0);
	}
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	&:before {
		display: table;
		content: '';
	}
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}
.slick-loading {
	.slick-track {
		visibility: hidden;
	}
	.slick-slide {
		visibility: hidden;
	}
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
	img {
		display: block;
	}
	&.slick-loading img {
		display: none;
	}
	&.dragging img {
		pointer-events: none;
	}
}
html {
	font-family: $font-sans;
	height: 100%;
	input[type="button"] {
		cursor: pointer;
	}
	input[disabled] {
		cursor: default;
	}
}
body {
	margin: 0;
	font-family: $font-open-sans, $font-sans;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: .1px;
	position: relative;
	color: $black;
	padding-top: 120px;
	background: $white;
	min-height: 100%;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
	margin: 1em 40px;
}
footer {
	display: block;
}
.site-header {
	display: block;
	width: 100%;
	height: 120px;
	position: fixed;
	top: 0;
	padding: 0 80px;
	background: $white;
	z-index: 90;
	border-bottom: 1px solid $color_pumice_approx;
	nav {
		width: 650px;
		float: right;
		padding-top: 12px;
		&.mobile {
			display: none;
		}
	}
	.top-nav {
		float: right;
		display: block;
		text-align: right;
		width: 150px;
		clear: both;
		margin-bottom: 35px;
		li {
			display: inline;
			font-size: 12px;
			line-height: 14px;
			font-family: $font-open-sans;
			+ li {
				margin-left: 30px;
			}
		}
	}
	.general-nav {
		float: right;
		display: block;
		text-align: right;
		width: 100%;
		clear: both;
		li {
			display: inline;
			font-size: 16px;
			line-height: 19px;
			font-family: $font-open-sans-bold;
			text-transform: uppercase;
			+ li {
				margin-left: 41px;
			}
			&.brackets {
				position: relative;
				&:after {
					content: " ";
					width: 12px;
					height: 30px;
					background-image: url(../img/bracket.svg);
					background-size: contain;
					position: absolute;
					left: -15px;
					top: -5px;
					background-image: url(../img/bracket.svg);
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: rotate(180deg);
					left: auto;
					right: -11px;
				}
				&:before {
					content: " ";
					width: 12px;
					height: 30px;
					background-image: url(../img/bracket.svg);
					background-size: contain;
					position: absolute;
					left: -15px;
					top: -5px;
				}
			}
			&:hover {
				position: relative;
				&:after {
					content: " ";
					width: 12px;
					height: 30px;
					background-image: url(../img/bracket.svg);
					background-size: contain;
					position: absolute;
					left: -15px;
					top: -5px;
					background-image: url(../img/bracket.svg);
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: rotate(180deg);
					left: auto;
					right: -11px;
				}
				&:before {
					content: " ";
					width: 12px;
					height: 30px;
					background-image: url(../img/bracket.svg);
					background-size: contain;
					position: absolute;
					left: -15px;
					top: -5px;
				}
			}
		}
	}
	.logo img {
		width: 102px;
		height: 89px;
		margin-top: 14px;
	}
}
hgroup {
	display: block;
}
main {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	display: inline-block;
	vertical-align: baseline;
	&:not([controls]) {
		display: none;
		height: 0;
	}
}
canvas {
	display: inline-block;
	vertical-align: baseline;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
video {
	display: inline-block;
	vertical-align: baseline;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
	outline: none;
	&:active {
		outline: 0;
	}
	&:hover {
		outline: 0;
	}
}
abbr[title] {
	border-bottom: 1px dotted;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
	margin: 0;
	padding: 0;
}
mark {
	background: $yellow;
	color: $black;
}
small {
	font-size: 80%;
}
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	bottom: -0.25em;
}
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
hr {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
	font-family: $font-mono, $font-mono;
	font-size: 1em;
}
code {
	font-family: $font-mono, $font-mono;
	font-size: 1em;
}
kbd {
	font-family: $font-mono, $font-mono;
	font-size: 1em;
}
samp {
	font-family: $font-mono, $font-mono;
	font-size: 1em;
}
button {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: visible;
	text-transform: none;
	cursor: pointer;
	outline: none;
}
input {
	color: inherit;
	font: inherit;
	margin: 0;
	line-height: normal;
	outline: none;
}
optgroup {
	color: inherit;
	font: inherit;
	margin: 0;
	font-weight: bold;
}
select {
	color: inherit;
	font: inherit;
	margin: 0;
	text-transform: none;
}
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	overflow: auto;
}
input[type="reset"] {
	cursor: pointer;
}
input[type="submit"] {
	cursor: pointer;
}
button[disabled] {
	cursor: default;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input[type="checkbox"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
}
input[type="radio"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button {
	height: auto;
}
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
input[type="search"] {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button {
}
input[type="search"]::-webkit-search-decoration {
}
fieldset {
	border: 1px solid $silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {
	border: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding: 0;
}
th {
	padding: 0;
}
.body {
	flex-grow: 2;
	overflow: hidden;
}
* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:after {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	&:before {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
}
.btn {
	outline: none;
}
.entry {
	letter-spacing: -.02em;
}
h2 {
	margin: 0;
	padding: 0;
}
h3 {
	margin: 0;
	padding: 0;
}
h4 {
	margin: 0;
	padding: 0;
	img {
		margin-top: -20px;
		height: 35px !important;
		margin-top: -8px;
	}
}
h5 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
	&.anchor {
		margin: -150px 0 0 0 !important;
		height: 1px;
		width: 100%;
		padding-bottom: 150px;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
ol {
	margin: 0;
	padding: 0;
}
h6 {
	margin: 0;
	padding: 0;
}
.hide {
	display: none;
}
@media(max-width: 1025px) {
	.home-slide {
		.text {
			top: 50%;
			&:after {
				background-image: url(../img/bracket_l_w.svg);
				left: -66px;
				width: 44px;
				height: 103px;
				top: -35%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(180deg);
				left: auto;
				right: -67px;
			}
			&:before {
				background-image: url(../img/bracket_l_w.svg);
				left: -66px;
				width: 44px;
				height: 103px;
				top: -35%;
			}
		}
		h2 {
			font-size: 60px;
			line-height: 60px;
			white-space: nowrap;
		}
		p {
			font-size: 23px;
			line-height: 23px;
			white-space: normal;
			top: calc(50% +60px);
		}
	}
	.top-image {
		height: 500px;
		h1 {
			font-size: 42px;
			line-height: 54px;
			padding: 0 20px;
			font-size: 60px;
			line-height: 60px;
			&:after {
				height: 67px;
				left: -25px;
				top: -6px;
				background-image: url(../img/bracket_l_w.svg);
				left: -46px;
				width: 44px;
				height: 103px;
				top: -35%;
				left: auto;
				right: -25px;
				right: -47px;
			}
			&:before {
				height: 67px;
				left: -25px;
				top: -6px;
				background-image: url(../img/bracket_l_w.svg);
				left: -46px;
				width: 44px;
				height: 103px;
				top: -35%;
			}
		}
	}
	.red-wrap {
		padding-top: 70px;
		h2 {
			font-size: 32px;
			line-height: 47px;
			&:after {
				height: 67px;
				left: -44px;
				top: -10px;
				right: -44px;
			}
			&:before {
				height: 67px;
				left: -44px;
				top: -10px;
			}
		}
		p {
			font-size: 18px;
			line-height: 24px;
			margin-top: 32px;
		}
	}
	.white-wrap {
		padding-top: 70px;
		h2 {
			font-size: 32px;
			line-height: 47px;
			&:after {
				height: 67px;
				left: -44px;
				top: -10px;
				right: -44px;
			}
			&:before {
				height: 67px;
				left: -44px;
				top: -10px;
			}
		}
		p {
			font-size: 18px;
			line-height: 24px;
			margin-top: 32px;
		}
	}
	.white-wrap__before-story {
		padding-bottom: 53px;
	}
	.coaches__gallery-item {
		img {
			max-width: 320px;
			margin-bottom: 30px;
			padding-left: 10px;
			padding-right: 10px;
		}
		span {
			font-size: 15px;
		}
	}
	.benefits__row {
		margin-bottom: 57px;
	}
	.content_template_base1 {
		margin: 40px 40px 200px 40px;
		h1 {
			line-height: 67px;
			font-size: 38px;
			padding: 0 5px;
			&:after {
				height: 67px;
				background-image: url(../img/bracket_m.svg);
				left: -5px;
				top: 20px;
				left: 5px;
			}
			&:before {
				height: 67px;
				background-image: url(../img/bracket_m.svg);
				left: -5px;
				top: 20px;
			}
		}
		h2 {
			margin: 55px 0 0 0;
			font-size: 24px;
		}
		h3 {
			margin: 45px 0 0;
			font-size: 20px;
		}
		h4 {
			margin: 35px 0 0;
			font-size: 18px;
		}
		p {
			margin-top: 38px;
		}
		li {
			margin-left: 10px;
			font-size: 17px;
		}
		blockquote {
			padding: 47px 22px;
			font-size: 25px;
		}
	}
	.content_template_base2 {
		margin: 40px 40px 200px 40px;
		h2 {
			margin: 55px 0 0 0;
			font-size: 24px;
			&.emulate-h1 {
				line-height: 67px;
				font-size: 38px;
				padding: 0 5px;
				&:after {
					height: 67px;
					background-image: url(../img/bracket_m.svg);
					left: -5px;
					top: 20px;
					left: 5px;
				}
				&:before {
					height: 67px;
					background-image: url(../img/bracket_m.svg);
					left: -5px;
					top: 20px;
				}
			}
		}
		h1 {
			line-height: 67px;
			font-size: 38px;
			padding: 0 5px;
			height: 504px;
			margin-left: -40px;
			margin-right: -40px;
			margin-top: -40px;
			&:after {
				height: 67px;
				background-image: url(../img/bracket_m.svg);
				left: -5px;
				top: 20px;
				background-image: url(../img/bracket_l_w.svg);
				top: 0;
				left: 5px;
			}
			&:before {
				height: 67px;
				background-image: url(../img/bracket_m.svg);
				left: -5px;
				top: 20px;
				background-image: url(../img/bracket_l_w.svg);
				top: 0;
			}
		}
		h3 {
			margin: 45px 0 0;
			font-size: 20px;
		}
		h4 {
			margin: 35px 0 0;
			font-size: 18px;
		}
		p {
			margin-top: 38px;
		}
		li {
			margin-left: 10px;
			font-size: 17px;
		}
		blockquote {
			padding: 47px 22px;
			font-size: 25px;
		}
	}
	.coaches .coaches__gallery {
		padding-left: 32px;
		padding-right: 32px;
	}
	div.benefits span {
		font-size: 18px;
	}
}
@media(max-width: 767px) {
	.site-header {
		padding: 0 28px;
	}
	.menu-overlay {
		padding: 14px 28px;
		ul {
			margin-top: 40px;
			font-size: 38px;
			line-height: 56px;
			letter-spacing: .57px;
			font-family: $font-open-sans-bold;
			&.sub-mobile-nav .back-mobile-nav {
				font-size: 16px;
				a:before {
					width: 8px;
					height: 12px;
					margin-right: 10px;
				}
			}
		}
	}
	.home-slide {
		.text {
			width: auto;
			height: auto;
			.text-wrap {
				position: absolute;
				top: 50%;
				left: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translate(-50%, -50%);
				text-align: center;
				width: 100%;
			}
			&:after {
				left: -40px;
				width: 26px;
				height: 61px;
				top: -42%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(180deg);
				left: auto;
				right: -41px;
			}
			&:before {
				left: -40px;
				width: 26px;
				height: 61px;
				top: -42%;
			}
		}
		h2 {
			font-size: 27px;
			line-height: 32px;
			max-width: calc(100% - 80);
		}
		p {
			font-size: 15px;
			line-height: 16px;
			top: calc(50% +45px);
			margin-top: 2px;
		}
	}
	.top-image {
		height: 370px;
		padding: 0 40px;
		h1 {
			font-size: 32px;
			line-height: 48px;
			max-width: 94%;
			line-height: 36px;
			&:after {
				height: 60px;
				left: -25px;
				top: 50%;
				margin-top: -30px;
				background-image: url(../img/bracket_l_w.svg);
				left: auto;
				right: -25px;
			}
			&:before {
				height: 60px;
				left: -25px;
				top: 50%;
				margin-top: -30px;
				background-image: url(../img/bracket_l_w.svg);
			}
		}
	}
	.content_template_base2 {
		margin: 40px 28px 170px;
		h2 {
			font-size: 22px;
			margin: 40px 0 0;
			&.emulate-h1 {
				max-width: 94%;
				line-height: 36px;
				max-width: 100%;
				margin-bottom: 45px;
				line-height: 56px;
				font-size: 27px;
				&:after {
					height: 56px;
					width: 26px;
				}
				&:before {
					height: 56px;
					width: 26px;
				}
			}
		}
		h1 {
			line-height: 56px;
			font-size: 27px;
			height: 370px;
			margin-left: -28px;
			margin-right: -28px;
			margin-top: -60px;
			&:after {
				height: 56px;
				width: 26px;
			}
			&:before {
				height: 56px;
				width: 26px;
			}
			+ h2 {
				margin-top: 30px;
			}
		}
		h3 {
			font-size: 18px;
			margin: 30px 0 0;
		}
		h4 {
			font-size: 18px;
		}
		blockquote {
			text-align: center;
			padding: 38px 45px;
			font-size: 17px;
		}
		ul {
			margin: 20px 0 0;
		}
		p {
			margin-bottom: 30px;
		}
		.csRow li {
			margin-left: 0;
		}
	}
	.content_template_base1 {
		margin: 60px 28px 170px;
		h1 {
			max-width: 94%;
			line-height: 36px;
			max-width: 100%;
			margin-bottom: 45px;
			line-height: 56px;
			font-size: 27px;
			&:after {
				height: 56px;
				width: 26px;
			}
			&:before {
				height: 56px;
				width: 26px;
			}
			+ h2 {
				margin-top: 30px;
			}
		}
		h2 {
			font-size: 22px;
			margin: 40px 0 0;
		}
		h3 {
			font-size: 18px;
			margin: 30px 0 0;
		}
		h4 {
			font-size: 18px;
		}
		blockquote {
			text-align: center;
			padding: 38px 45px;
			font-size: 17px;
		}
		ul {
			margin: 20px 0 0;
		}
		p {
			margin-bottom: 30px;
		}
	}
	.coaches__gallery-item {
		margin-bottom: 55px;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			max-width: none;
			margin-bottom: 22px;
			padding: 0;
		}
	}
	.site-footer {
		padding: 145px 22px 0;
		height: 516px;
		.footer-col2 {
			width: 100%;
			float: none;
			text-align: center;
			line-height: 30px;
		}
		.footer-col1 {
			width: 100%;
			float: none;
			text-align: center;
			line-height: 30px;
		}
		.footer-social {
			float: none;
			width: 125px;
			margin: 30px auto;
			overflow: hidden;
			margin: 33px auto 20px;
		}
		.footer-extra {
			margin-top: 48px;
			p {
				&:first-of-type {
					display: none;
				}
				&:last-child {
					float: none;
					text-align: center;
					width: 100%;
					a + a {
						margin-left: 30px;
					}
				}
			}
		}
		.footer-middle {
			top: 68px;
		}
	}
	.mobile-invisible {
		display: none !important;
	}
	.mobile-visible {
		display: inline-block !important;
	}
	.has-sub-mobile-nav:after {
		width: 18px;
		height: 24px;
		margin-left: 15px;
	}
	.coaches .coaches__gallery {
		padding-left: 28px;
		padding-right: 28px;
		flex-direction: column;
	}
	.csRow .csColumn + .csColumn h3 {
		padding-top: 26px;
	}
}
.site-footer {
	position: relative;
	padding: 43px 100px 0;
	width: 100%;
	height: 232px;
	font-family: $font-open-sans-semi;
	border-top: 1px solid $color_pumice_approx;
	.footer-extra {
		font-family: $font-open-sans;
		width: 100%;
		clear: both;
		color: $boulder;
		font-size: 12px;
		line-height: 14px;
		margin-top: 56px;
		overflow: hidden;
		p {
			float: left;
			display: inline-block;
			&:last-child {
				float: right;
				text-align: right;
				a + a {
					margin-left: 38px;
				}
			}
		}
	}
	.footer-cols {
		overflow: hidden;
	}
	.footer-col2 {
		line-height: 24px;
		font-size: 14px;
		float: left;
		width: 145px;
	}
	.footer-col1 {
		line-height: 24px;
		font-size: 14px;
		float: left;
		width: 145px;
	}
	.footer-middle {
		font-size: 26px;
		line-height: 31px;
		letter-spacing: 0.1px;
		position: absolute;
		top: 50%;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%);
		&:after {
			content: " ";
			width: 26px;
			height: 56px;
			background-image: url(../img/bracket_m.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -33px;
			top: -12px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -32px;
		}
		&:before {
			content: " ";
			width: 26px;
			height: 56px;
			background-image: url(../img/bracket_m.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -33px;
			top: -12px;
		}
	}
	.footer-social {
		width: 128px;
		float: right;
		margin-top: -43px;
		a {
			display: block;
			width: 40px;
			height: 40px;
			float: right;
			+ a {
				margin-right: 44px;
			}
			&.facebook {
				background-image: url(../img/fb.png);
			}
			&.instagram {
				background-image: url(../img/inst.png);
			}
		}
	}
}
.menu-overlay {
	display: none;
	ul {
		&.sub-mobile-nav {
			display: none;
			position: absolute;
			width: 100%;
			height: auto;
			min-height: 100%;
			top: 0;
			left: 0;
			margin-top: 0;
			background-color: $white;
			margin-left: 100vw;
			.back-mobile-nav {
				font-size: 26px;
				a:before {
					content: " ";
					background: url(../img/arrow.svg);
					width: 15px;
					height: 20px;
					background-size: contain;
					background-repeat: no-repeat;
					display: inline-block;
					margin-right: 15px;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: rotate(180deg);
				}
			}
		}
		&.main-mobile-nav {
			position: relative;
		}
	}
}
.home-slide {
	position: relative;
	display: block !important;
	width: 100%;
	height: 755px;
	background-size: cover;
	background-position: center;
	img {
		width: 100%;
	}
	.corners {
		position: absolute;
		max-width: 672px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, 0);
		background-image: url(../img/corners.svg);
	}
	.text {
		display: inline-block;
		position: absolute;
		top: calc(50% - 40px);
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%);
		text-align: center;
		&:after {
			background-image: url(../img/bracket_l_w.svg);
			content: " ";
			width: 58px;
			height: 136px;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -78px;
			top: -62%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -79px;
		}
		&:before {
			background-image: url(../img/bracket_l_w.svg);
			content: " ";
			width: 58px;
			height: 136px;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -78px;
			top: -62%;
		}
	}
	h2 {
		font-family: $font-open-sans-bold;
		font-size: 80px;
		line-height: 57px;
		color: $white;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 4px $black_50;
		text-transform: uppercase;
	}
	p {
		font-family: $font-open-sans-semi;
		font-size: 30px;
		line-height: 30px;
		color: $white;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 4px $black_50;
		margin-top: 10px;
		white-space: nowrap;
		text-align: center;
		width: 100%;
		padding: 0 20px;
		left: 0;
		top: calc(50% +50px);
		position: absolute;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(0, 0);
	}
}
@media(max-width: 769px) {
	.home-slide {
		height: 466px;
	}
	.top-image {
		height: 380px;
	}
	.only-desktop {
		display: none;
	}
	.only-table-and-mobile {
		display: block;
	}
	.benefits__column__img-wrap {
		display: block;
		height: 140px;
	}
	.benefits__row {
		margin-bottom: 0;
	}
	.benefits__column {
		min-width: 50%;
		margin-bottom: 67px;
	}
	.content {
		font-size: 16px;
		line-height: 28px;
	}
	.content_template_base1 {
		p {
			margin-top: 22px;
		}
		blockquote {
			padding: 53px 70px;
			font-size: 23px;
		}
	}
	.content_template_base2 {
		p {
			margin-top: 22px;
		}
		blockquote {
			padding: 53px 70px;
			font-size: 23px;
		}
		h1 {
			height: 380px;
		}
	}
	.partners .partners__gallery {
		margin-left: 28px;
	}
	.story__blockqueue .story__blockqueue__author {
		margin-top: 13px;
		font-size: 16px;
	}
	.coaches .coaches__gallery {
		padding-left: 31px;
		padding-right: 31px;
	}
	.coaches__gallery-item img {
		max-width: 233px;
		margin-bottom: 15px;
		padding-left: 9px;
		padding-right: 9px;
	}
	div.benefits img {
		height: auto;
		max-height: none;
		max-height: 103px;
	}
}
.main-mobile-nav {
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: 0.25s ease;
	&.show-sub {
		margin-left: -100vw;
	}
}
@media(max-width: 376px) {
	.slick-dots {
		bottom: 31px;
	}
	.red-wrap {
		padding-top: 70px;
		padding-bottom: 33px;
		h2 {
			font-size: 32px;
			line-height: 42px;
			&:after {
				height: 60px;
				left: -28px;
				top: -10px;
				right: -27px;
			}
			&:before {
				height: 60px;
				left: -28px;
				top: -10px;
			}
		}
		p {
			margin-top: 26px;
		}
	}
	.white-wrap {
		padding-top: 70px;
		padding-bottom: 33px;
		h2 {
			font-size: 32px;
			line-height: 42px;
			&:after {
				height: 60px;
				left: -28px;
				top: -10px;
				right: -27px;
			}
			&:before {
				height: 60px;
				left: -28px;
				top: -10px;
			}
		}
		p {
			margin-top: 26px;
		}
	}
	.partners {
		.simplebar-offset {
			position: relative;
		}
		.partners__image {
			width: calc(50% - 15px);
		}
		.partners__gallery {
			white-space: normal;
			margin-left: 0;
		}
	}
	.story__blockqueue {
		padding-top: 36px;
		line-height: 25px;
		padding-left: 30px;
		background-size: cover;
		bottom: -501px;
	}
	.benefits__column__img-wrap {
		height: 88px;
	}
	.benefits__row {
		padding-left: 35px;
		padding-right: 35px;
	}
	.benefits__column {
		margin-bottom: 45px;
	}
	.home-slide img {
		width: auto;
		height: 446px;
	}
	.partners__image .partners__image__title {
		font-size: 15px;
	}
	.coaches__gallery-item span {
		font-size: 13px;
	}
	div.benefits {
		img {
			max-height: 73px;
			margin-bottom: 18px;
		}
		span {
			font-size: 18px;
		}
	}
}
.top-image {
	width: 100%;
	height: 750px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	.corners {
		position: absolute;
		max-width: 672px;
		width: 100%;
		height: 100%;
		top: 0;
		left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, 0);
		background-image: url(../img/corners.svg);
	}
	h1 {
		text-transform: uppercase;
		font-size: 55px;
		line-height: 104px;
		padding: 0 15px;
		max-width: calc(100vw - 88px);
		text-align: center;
		position: relative;
		display: inline-block;
		text-align: center;
		font-family: $font-open-sans-bold;
		font-size: 60px;
		line-height: 72px;
		color: $white;
		//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 0 2px 4px $black_50;
		text-transform: uppercase;
		font-size: 80px;
		line-height: 57px;
		&:after {
			content: " ";
			width: 44px;
			height: 104px;
			background-image: url(../img/bracket_l_w.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			display: block;
			left: -45px;
			top: -12px;
			width: 58px;
			height: 136px;
			left: -78px;
			top: -62%;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -47px;
			right: -79px;
		}
		&:before {
			content: " ";
			width: 44px;
			height: 104px;
			background-image: url(../img/bracket_l_w.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			display: block;
			left: -45px;
			top: -12px;
			width: 58px;
			height: 136px;
			left: -78px;
			top: -62%;
		}
	}
}
@media(min-width: 1025px) {
	.home-slide h2 {
		white-space: nowrap;
	}
}
@media(min-width: 768px) and(max-width: 1024px) {
	.home-slide {
		.text {
			width: auto;
			.text-wrap {
				position: absolute;
				top: 50%;
				left: 50%;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: translate(-50%, -50%);
				text-align: center;
				width: 100%;
			}
		}
		p {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
.content_template_base2 {
	max-width: 1274px;
	margin: 80px auto 140px;
	h2 {
		margin: 75px 0 0;
		font-size: 31px;
		font-family: $font-open-sans-bold;
		line-height: 42px;
		margin-top: 0;
		line-height: 30px;
		&.emulate-h1 {
			text-transform: uppercase;
			font-size: 55px;
			line-height: 104px;
			padding: 0 15px;
			max-width: calc(100vw - 88px);
			text-align: center;
			text-transform: uppercase;
			font-size: 55px;
			line-height: 104px;
			padding: 0 15px;
			font-family: $font-open-sans-bold;
			margin-top: -30px;
			margin-bottom: 78px;
			margin-bottom: 30px;
			text-align: center;
			&:after {
				content: " ";
				width: 44px;
				height: 104px;
				background-image: url(../img/bracket_l.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: relative;
				display: inline-block;
				left: -15px;
				top: 30px;
				//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
				transform: rotate(180deg);
				left: auto;
				right: -15px;
			}
			&:before {
				content: " ";
				width: 44px;
				height: 104px;
				background-image: url(../img/bracket_l.svg);
				background-repeat: no-repeat;
				background-size: contain;
				position: relative;
				display: inline-block;
				left: -15px;
				top: 30px;
			}
		}
		img {
			margin-left: 22px;
			margin-top: -10px;
			height: 35px !important;
			margin-top: -8px;
			margin-left: 8px;
		}
		+ p {
			padding-top: 12px;
		}
	}
	p {
		margin-top: 32px;
		margin-top: 0;
		margin-bottom: 35px;
		a {
			overflow-wrap: break-word;
			word-wrap: break-word;
			//Instead of the line below you could use @include word-break($value)
			word-break: break-all;
			//Instead of the line below you could use @include word-break($value)
			word-break: break-word;
			//Instead of the line below you could use @include hyphens($value)
			hyphens: auto;
		}
		+ h2 {
			padding-top: 25px;
		}
		img {
			margin-bottom: 7px;
		}
	}
	h1 {
		text-transform: uppercase;
		font-size: 55px;
		line-height: 104px;
		padding: 0 15px;
		font-family: $font-open-sans-bold;
		margin-top: -30px;
		margin-bottom: 78px;
		margin-bottom: 30px;
		text-align: center;
		color: $white;
		text-align: center;
		background-image: url(../img/home.jpg);
		background-size: cover;
		height: 756px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -80px;
		margin-right: -80px;
		margin-top: -80px;
		&:after {
			content: " ";
			width: 44px;
			height: 104px;
			background-image: url(../img/bracket_l.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;
			display: inline-block;
			left: -15px;
			top: 30px;
			background-image: url(../img/bracket_l_w.svg);
			top: 0;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -15px;
		}
		&:before {
			content: " ";
			width: 44px;
			height: 104px;
			background-image: url(../img/bracket_l.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;
			display: inline-block;
			left: -15px;
			top: 30px;
			background-image: url(../img/bracket_l_w.svg);
			top: 0;
		}
		+ p > img {
			padding-top: 10px;
		}
	}
	h3 {
		margin: 55px 0 0 0;
		font-size: 30px;
		font-family: $font-open-sans-bold;
		line-height: 30px;
		img {
			margin-left: 22px;
			margin-top: -11px;
		}
		+ p {
			padding-top: 12px;
		}
	}
	h4 {
		margin: 65px 0 0;
		font-size: 23px;
		font-family: $font-open-sans-bold;
		margin-top: -75px;
		padding-top: 125px;
		margin-top: -95px;
		line-height: 40px;
		+ p > img {
			padding-top: 16px;
		}
	}
	blockquote {
		padding: 70px 60px;
		margin: 0 0 35px 0;
		background-color: $color-red;
		background-image: url(../img/corners3.svg);
		color: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		font-weight: 600;
		font-size: 26px;
		display: inline-block;
		&:before {
			content: "\201C";
		}
		&:after {
			content: "\201D";
		}
		p {
			margin: 0;
			display: inline;
		}
	}
	ul {
		margin: 30px 0 0;
		list-style: disc;
		+ h4 {
			margin-top: -61px;
		}
		+ h2 {
			margin-top: 50px;
		}
		+ p {
			margin-top: 16px;
		}
		+ blockquote {
			margin-top: 35px;
		}
	}
	li {
		list-style: disc inside;
		margin-left: 10px;
	}
	a {
		color: $color-red;
		font-weight: 600;
	}
	.csRow {
		h4 {
			padding-top: 0;
			margin-top: -25px;
			margin-bottom: 10px;
			line-height: 40px;
		}
		h4[id] {
			margin-bottom: 10px;
			line-height: 40px;
			padding-top: 125px;
			margin-top: -95px;
			pointer-events: none;
		}
		h2[id] {
			padding-top: 135px;
			margin-top: -135px;
			pointer-events: none;
		}
	}
	.grid {
		h3 {
			padding-top: 0;
			margin-top: -25px;
			margin-bottom: 10px;
			line-height: 40px;
		}
		h3[id] {
			margin-bottom: 10px;
			line-height: 40px;
			padding-top: 125px;
			margin-top: -95px;
			pointer-events: none;
		}
		h2[id] {
			padding-top: 135px;
			margin-top: -135px;
			pointer-events: none;
		}
		article > h3 {
			margin-top: 0;
		}
	}
	.csColumn > h3 {
		margin-top: 0;
	}
}
.content_template_base1 {
	max-width: 1274px;
	margin: 80px auto 140px;
	margin-top: 100px;
	h1 {
		text-transform: uppercase;
		font-size: 55px;
		line-height: 104px;
		padding: 0 15px;
		max-width: calc(100vw - 88px);
		text-align: center;
		text-transform: uppercase;
		font-size: 55px;
		line-height: 104px;
		padding: 0 15px;
		font-family: $font-open-sans-bold;
		margin-top: -30px;
		margin-bottom: 78px;
		margin-bottom: 30px;
		text-align: center;
		&:after {
			content: " ";
			width: 44px;
			height: 104px;
			background-image: url(../img/bracket_l.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;
			display: inline-block;
			left: -15px;
			top: 30px;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -15px;
		}
		&:before {
			content: " ";
			width: 44px;
			height: 104px;
			background-image: url(../img/bracket_l.svg);
			background-repeat: no-repeat;
			background-size: contain;
			position: relative;
			display: inline-block;
			left: -15px;
			top: 30px;
		}
		+ p > img {
			padding-top: 10px;
		}
	}
	p {
		margin-top: 32px;
		margin-top: 0;
		margin-bottom: 35px;
		a {
			overflow-wrap: break-word;
			word-wrap: break-word;
			//Instead of the line below you could use @include word-break($value)
			word-break: break-all;
			//Instead of the line below you could use @include word-break($value)
			word-break: break-word;
			//Instead of the line below you could use @include hyphens($value)
			hyphens: auto;
		}
		+ h2 {
			padding-top: 25px;
		}
		img {
			margin-bottom: 7px;
		}
	}
	h2 {
		margin: 75px 0 0;
		font-size: 31px;
		font-family: $font-open-sans-bold;
		line-height: 42px;
		margin-top: 0;
		line-height: 30px;
		img {
			margin-left: 22px;
			margin-top: -10px;
		}
		+ p {
			padding-top: 12px;
		}
	}
	h3 {
		margin: 55px 0 0 0;
		font-size: 30px;
		font-family: $font-open-sans-bold;
		line-height: 30px;
		img {
			margin-left: 22px;
			margin-top: -11px;
		}
		+ p {
			padding-top: 12px;
		}
	}
	h4 {
		margin: 65px 0 0;
		font-size: 23px;
		font-family: $font-open-sans-bold;
		margin-top: -75px;
		padding-top: 125px;
		margin-top: -95px;
		line-height: 40px;
		+ p > img {
			padding-top: 16px;
		}
	}
	blockquote {
		padding: 70px 60px;
		margin: 0 0 35px 0;
		background-color: $color-red;
		background-image: url(../img/corners3.svg);
		color: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		font-weight: 600;
		font-size: 26px;
		display: inline-block;
		&:before {
			content: "\201C";
		}
		&:after {
			content: "\201D";
		}
		p {
			margin: 0;
			display: inline;
		}
	}
	ul {
		margin: 30px 0 0;
		list-style: disc;
		+ h4 {
			margin-top: -61px;
		}
		+ h2 {
			margin-top: 50px;
		}
		+ p {
			margin-top: 16px;
		}
		+ blockquote {
			margin-top: 35px;
		}
	}
	li {
		list-style: disc inside;
		margin-left: 10px;
	}
	a {
		color: $color-red;
		font-weight: 600;
	}
	.csRow {
		h4 {
			padding-top: 0;
			margin-top: -25px;
			margin-bottom: 10px;
			line-height: 40px;
		}
		h4[id] {
			margin-bottom: 10px;
			line-height: 40px;
			padding-top: 125px;
			margin-top: -95px;
			pointer-events: none;
		}
		h2[id] {
			padding-top: 135px;
			margin-top: -135px;
			pointer-events: none;
		}
	}
	.csColumn > h3 {
		margin-top: 0;
	}
}
.slick-dots {
	display: block;
	position: absolute;
	bottom: 54px;
	left: 50%;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate(-50%, 0);
	li {
		display: inline-block;
		padding: 0 13px;
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			width: 24px;
			height: 24px;
			padding: 5px;
			cursor: pointer;
			color: transparent;
			border: 0;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 50%;
			outline: none;
			background: $white;
		}
		&.slick-active button {
			background-color: $color-red;
		}
	}
}
.red-wrap {
	width: 100%;
	padding: 124px 0 80px;
	text-align: center;
	background-color: $color-red;
	h2 {
		display: inline-block;
		position: relative;
		font-family: $font-open-sans-bold;
		color: $black;
		font-size: 60px;
		line-height: 72px;
		letter-spacing: 0.4px;
		&:after {
			content: " ";
			width: 44px;
			height: 104px;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -60px;
			top: -14px;
			background-image: url(../img/bracket_l_w.svg);
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -61px;
		}
		&:before {
			content: " ";
			width: 44px;
			height: 104px;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -60px;
			top: -14px;
			background-image: url(../img/bracket_l_w.svg);
		}
	}
	p {
		font-family: $font-open-sans-bold;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 0.2px;
		margin-top: 42px;
	}
	ul {
		display: block;
		width: 1140px;
	}
}
.white-wrap {
	width: 100%;
	padding: 124px 0 80px;
	text-align: center;
	background-color: $white;
	h2 {
		display: inline-block;
		position: relative;
		font-family: $font-open-sans-bold;
		color: $black;
		font-size: 60px;
		line-height: 72px;
		letter-spacing: 0.4px;
		&:after {
			content: " ";
			width: 44px;
			height: 104px;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -60px;
			top: -14px;
			background-image: url(../img/bracket_l.svg);
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(180deg);
			left: auto;
			right: -61px;
		}
		&:before {
			content: " ";
			width: 44px;
			height: 104px;
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			left: -60px;
			top: -14px;
			background-image: url(../img/bracket_l.svg);
		}
	}
	p {
		font-family: $font-open-sans-bold;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: 0.2px;
		margin-top: 42px;
	}
	ul {
		display: block;
		width: 1140px;
	}
}
.white-wrap__before-story {
	padding-bottom: 72px;
}
.partners {
	.partners__gallery {
		list-style: none;
		white-space: nowrap;
		margin-left: 80px;
		margin-bottom: 114px;
	}
	.partners__image {
		display: inline-block;
		max-width: 200px;
		width: 100%;
		height: 290px;
		text-align: center;
		margin-left: 10px;
		vertical-align: bottom;
	}
}
.partners__image {
	.partners__image__pic {
		height: 120px;
		width: 120px;
		margin-bottom: 32px;
		display: flex;
		align-items: center;
		margin-left: 50%;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, 0);
	}
	.partners__image__title {
		font-weight: 600;
		font-size: 17px;
		white-space: normal;
		margin-bottom: 15px;
		height: 51px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.story {
	position: relative;
	margin-left: 80px;
	margin-right: 190px;
	max-width: 1170px;
	.story__corners {
		position: absolute;
		width: 342px;
		height: 100%;
		top: 0;
		right: 15px;
		background-image: url(../img/corners2.svg);
		background-size: cover;
	}
	.story__video-link a {
		position: absolute;
		top: calc(50% - 56.5px);
		left: calc(50% - 56.5px);
		z-index: 2;
	}
	.story__video-link_type-team img {
		max-height: 250px;
	}
}
@media(min-width: 1441px) {
	.story {
		margin: 0 auto;
	}
}
@media(max-width: 1440px) {
	.story {
		margin-right: 122px;
		.story__corners {
			right: 0;
			width: 403px;
		}
		.story__video-link a {
			top: calc(50% - 41px);
			left: calc(50% - 41px);
			img {
				height: 82px;
			}
		}
	}
	.coaches .coaches__gallery {
		width: 100%;
	}
}
@media(max-width: 980px) {
	.story {
		margin-right: 103px;
	}
}
@media(max-width: 800px) {
	.story {
		margin-left: 28px;
		margin-right: 28px;
		.story__corners {
			display: none;
		}
		.story__video-link a {
			top: calc(50% - 16.5px);
			left: calc(50% - 16.5px);
			img {
				height: 33px;
			}
		}
	}
	.story__horizontal-image {
		width: 203px;
		height: 136px;
		top: auto;
		bottom: -105px;
		left: 31px;
	}
	.story__horizontal-image__content {
		&:after {
			height: 155px;
			left: -7px;
			right: -7px;
		}
		&:before {
			height: 155px;
			left: -7px;
		}
	}
	.story__vertical-image {
		width: 138px;
		height: 209px;
		bottom: -287px;
		right: auto;
		left: 145px;
	}
	.story__vertical-image__content {
		&:after {
			height: 226px;
			left: -8px;
			top: -10px;
		}
		&:before {
			height: 226px;
			left: -8px;
			top: -10px;
		}
	}
	.story__blockqueue {
		padding: 49px 30px 38px 51px;
		font-size: 18px;
		bottom: -537px;
		width: 320px;
		height: 189px;
		padding-top: 36px;
		line-height: 25px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
	.button-link.button-link_extra-margin {
		margin-top: 560px;
	}
}
@media(max-width: 1040px) {
	.story {
		.story__corners {
			width: 250px;
		}
		.story__video-link a {
			top: calc(50% - 27px);
			left: calc(50% - 27px);
			img {
				height: 54px;
			}
		}
	}
	.story__horizontal-image {
		width: 245px;
		height: 165px;
	}
	.story__horizontal-image__content {
		&:after {
			height: 183px;
			top: -10px;
			left: -8px;
			right: -8px;
		}
		&:before {
			height: 183px;
			top: -10px;
			left: -8px;
		}
	}
	.story__vertical-image {
		width: 158px;
		height: 239px;
	}
	.story__vertical-image__content {
		&:after {
			height: 260px;
			left: -10px;
			top: -13px;
			right: -10px;
			right: -8px;
		}
		&:before {
			height: 260px;
			left: -10px;
			top: -13px;
		}
	}
	.story__blockqueue {
		left: 26px;
		bottom: -160px;
	}
	.button-link.button-link_extra-margin {
		margin-top: 195px;
	}
}
.story__horizontal-image {
	position: absolute;
	width: 374px;
	height: 251px;
	top: 8.3%;
	right: -9.2%;
}
@media(max-width: 1439px) {
	.story__horizontal-image {
		width: 280px;
		height: 188px;
	}
	.story__horizontal-image__content {
		&:after {
			height: 210px;
			top: -12px;
			right: -10px;
		}
		&:before {
			height: 210px;
			top: -12px;
		}
	}
	.story__vertical-image {
		width: 196px;
		height: 293px;
		bottom: -26.2%;
	}
	.story__vertical-image__content {
		&:after {
			height: 324px;
			left: -12px;
			top: -16px;
			right: -12px;
		}
		&:before {
			height: 324px;
			left: -12px;
			top: -16px;
		}
	}
	.story__blockqueue {
		padding: 35px 31px 42px;
		width: 380px;
		height: 225px;
		font-size: 22px;
		left: 80px;
	}
}
.story__horizontal-image__content {
	position: relative;
	&:after {
		content: " ";
		width: 44px;
		height: 280px;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: -15px;
		background-image: url(../img/bracket_top.svg);
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(180deg);
		left: auto;
		right: -13px;
	}
	&:before {
		content: " ";
		width: 44px;
		height: 280px;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: -15px;
		background-image: url(../img/bracket_top.svg);
	}
}
.story__vertical-image {
	position: absolute;
	width: 258px;
	height: 386px;
	bottom: -17.2%;
	right: 10.5%;
}
@media(max-width: 930px) {
	.story__vertical-image {
		right: 10px;
	}
}
@media(max-width: 880px) {
	.story__vertical-image {
		right: 10px;
		bottom: -40.2%;
	}
}
.story__vertical-image__content {
	position: relative;
	&:after {
		content: " ";
		width: 51px;
		height: 422px;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: -17px;
		background-image: url(../img/bracket_bottom.svg);
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(180deg);
		left: auto;
		right: -13px;
	}
	&:before {
		content: " ";
		width: 51px;
		height: 422px;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		top: -17px;
		background-image: url(../img/bracket_bottom.svg);
	}
}
.story__blockqueue {
	padding: 79px 56px 52px;
	text-align: center;
	background-color: $color-red;
	background-image: url(../img/corners.svg);
	color: $white;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 5px;
	font-weight: 600;
	font-size: 28px;
	line-height: 41px;
	position: absolute;
	left: 110px;
	bottom: -101px;
	width: 510px;
	height: 302px;
	.story__blockqueue__author {
		font-weight: 300;
		font-size: 20px;
		margin-top: 26px;
	}
}
@media(max-width: 1392px) {
	.story__blockqueue .story__blockqueue__author {
		margin-top: 6px;
	}
}
.image-link {
	width: 100%;
	img {
		width: 100%;
	}
}
@media(min-width: 769px) {
	.only-desktop {
		display: block;
	}
	.only-table-and-mobile {
		display: none;
	}
}
.button-link {
	margin-top: 60px;
	text-align: center;
	&.button-link_extra-margin {
		margin-top: 156px;
		a {
			padding: 9px 24px;
			font-family: $font-open-sans-bold;
		}
	}
	a {
		display: inline-block;
		background-color: $color-red;
		color: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 5px;
		padding: 6px 24px;
		font-family: $font-open-sans;
		font-size: 17px;
		font-weight: 600;
	}
}
.coaches__gallery-item {
	img {
		width: 100%;
		display: block;
		margin-bottom: 35px;
		padding-left: 20px;
		padding-right: 20px;
	}
	span {
		font-family: $font-open-sans;
		font-size: 25px;
		display: block;
		text-align: center;
	}
}
@media(max-width: 1024px) {
	.site-footer {
		padding: 43px 42px 0;
	}
	.content_template_base1 {
		margin-top: 70px;
		h1 {
			margin-bottom: 22px;
		}
		ul {
			margin: 20px 0 0;
			+ h4 {
				margin-top: -90px;
			}
		}
		h4 {
			margin-top: -120px;
		}
		p + h2 {
			padding-top: 6px;
		}
	}
	.content_template_base2 {
		h1 {
			margin-bottom: 22px;
		}
		ul {
			margin: 20px 0 0;
			+ h4 {
				margin-top: -90px;
			}
		}
		h4 {
			margin-top: -120px;
		}
		h2.emulate-h1 {
			margin-bottom: 22px;
		}
		p + h2 {
			padding-top: 6px;
		}
	}
	.story__blockqueue .site-header {
		padding: 0 42px;
	}
}
@media(max-width: 960px) {
	.site-footer {
		padding: 158px 42px 0;
		height: 343px;
		.footer-middle {
			top: 77px;
		}
	}
}
@media(max-width: 900px) {
	.site-header {
		height: 86px;
		nav {
			display: none;
			&.mobile {
				display: block;
				width: 28px;
				height: 22px;
				cursor: pointer;
				background-image: url(../img/mobile_nav.svg);
				padding: 0;
				margin-top: 32px;
			}
		}
		.logo img {
			width: 61px;
			height: 53px;
		}
	}
	body {
		padding-top: 86px;
	}
	.menu-overlay {
		display: none;
		width: 100%;
		min-height: 100vh;
		padding: 14px 42px;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $white;
		flex-wrap: wrap;
		align-items: center;
		z-index: 9999;
		overflow-y: auto;
		ul {
			margin-top: 60px;
			font-size: 64px;
			line-height: 90px;
			letter-spacing: .57px;
			font-family: $font-open-sans-bold;
		}
		.logo img {
			width: 61px;
			height: 53px;
		}
	}
	.close {
		display: block;
		cursor: pointer;
		width: 28px;
		height: 28px;
		background-image: url(../img/close.svg);
		background-size: contain;
		float: right;
		margin-top: 15px;
	}
}
.benefits__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
	max-width: 1440px;
	margin: 0 auto 67px auto;
	&:last-child {
		margin-bottom: -4px;
	}
}
.benefits__column {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.content {
	font-size: 18px;
	line-height: 30px;
	position: relative;
}
@media(max-width: 1450px) {
	.content_template_base1 {
		margin: 80px 80px 280px;
	}
	.content_template_base2 {
		margin: 80px 80px 280px;
	}
}
.mobile-visible {
	display: none !important;
}
.image-contact {
	margin-bottom: 20px;
}
@media(max-width: 1441px) {
	.p-contact {
		margin-bottom: -200px;
	}
}
.image-benefits {
	margin-bottom: -25px;
}
@media(min-width: 768px) {
	.content_template_base1 h1 + h2 {
		padding-top: 25px;
	}
	.content_template_base2 h1 + h2 {
		padding-top: 25px;
	}
}
@media(min-width: 820px) {
	.col3 {
		width: 33.333%;
		h3 {
			margin-top: 0;
		}
	}
	.columns3 {
		display: flex;
		padding-bottom: 30px;
	}
}
@media(max-width: 1360px) and(min-width: 820px) {
	.columns3 h3 {
		font-size: 24px;
	}
}
@media(max-width: 1024px) and(min-width: 820px) {
	.columns3 h3 {
		font-size: 20px;
	}
}
@media(max-width: 819px) {
	.columns3 {
		padding-bottom: 30px;
	}
}
@media(min-width: 767px) {
	.csRow {
		width: calc(100% +30px);
		margin-left: -30px;
		padding: 10px 15px 0;
	}
	.csColumn {
		padding: 0 15px !important;
	}
}
@media(max-width: 1023px) {
	.content_template_base2 {
		.csRow h4[id] {
			line-height: 25px !important;
		}
		h2 img {
			height: 25px !important;
			margin-top: -8px;
		}
	}
	.content_template_base1 .csRow h4[id] {
		line-height: 25px !important;
	}
	h4 img {
		height: 25px !important;
		margin-top: -8px;
	}
}
.grid {
	grid-template-columns: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 1em;
	grid-column-gap: 1em;
	> article {
	}
}
@media(min-width: var(--screen-md)) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
.post-type-archive-location,
.page-template-page-locations {
	.entry-title,
	.entry-meta {
		display: inline;
	}
	.cat-seasons {
		@include no-bullets;
		display: inline;
		li {
			display: inline;
			@include no-bullets;
		}
	}
}

[dir='rtl'] .slick-slide {
	float: right;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
svg:not(:root) {
	overflow: hidden;
}
.general-nav > li {
	> ul {
		display: none;
	}
	&:hover {
		position: relative;
		> ul {
			display: block;
			position: absolute;
			width: 210px;
			height: auto;
			top: 22px;
			left: -32px;
			background: transparent;
			text-align: left;
			margin-top: 25px;
			//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: 1px 2px 8px 0 $black_35;
			li {
				display: block;
				padding: 26px 0 3px 31px;
				background: $white;
				width: 100%;
				&.top-hidden {
					position: absolute;
					width: 100%;
					height: 28px;
					padding: 0;
					background: transparent;
					top: -28px;
				}
				&.top-white {
					position: absolute;
					width: 100%;
					height: 6px;
					padding: 0;
					background: $white;
					top: -6px;
				}
				&:last-child {
					padding-bottom: 26px;
				}
				&:after {
					display: none;
				}
				&:before {
					display: none;
				}
				+ li {
					margin-left: 0;
				}
			}
		}
	}
}
.has-sub-mobile-nav:after {
	content: " ";
	background: url(../img/arrow.svg);
	width: 25px;
	height: 34px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 30px;
}
.partners__image__pic img {
	margin: 0 auto;
}
.coaches .coaches__gallery {
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	width: 1425px;
	margin: 0 auto;
}
div.benefits {
	width: 100%;
	margin-top: 54px;
	img {
		display: block;
		max-height: 105px;
		height: 105px;
		margin: 0 auto 35px;
	}
	span {
		color: $white;
		font-family: $font-open-sans;
		font-size: 23px;
	}
}
.simplebar-track.simplebar-horizontal {
	height: 14px;
	background-color: $color_alto_approx;
	.simplebar-scrollbar {
		height: 14px;
		top: 0;
	}
}
.simplebar-scrollbar:before {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	background: $color_amaranth_approx;
	opacity: 1 !important;
}